---
openapi: 3.1.0
info:
  title: Mailjet API
  description: A complete collection of all publicly available endpoints and methods for the Mailjet API
  version: 1.0.0
servers:
  - url: "https://api.mailjet.com"
    description: US Mailjet
  - url: "https://api.eu.mailjet.com"
    description: EU Mailjet
paths:
  /v3/REST/activitycounters:
    get:
      tags:
        - Statistics
      summary: Time-series metrics for activities and events
      description: Read-only metrics system tracking user activities and system events as time-series data
      operationId: get_v3_activitycounters
      parameters:
        - name: APIKeyID
          in: query
          schema:
            type: integer
          description: ""
        - name: CounterType
          in: query
          schema:
            type: string
          description: "Counter type to retrieve. (e.g. 'WSL', 'WSH', 'WSD', 'WSM', 'WOL', 'WOH', 'WOD', 'WOM', 'WLL', 'WLH', 'WLD', 'WLM', 'DUL', 'AAL', 'AAM', 'AAD', AUL', 'AUM', 'AUD', 'BCL', 'BOL', 'LVL', 'LVH', 'LVD', 'LVM', 'LCL', 'LCH', 'LCD', 'LCM')"
        - name: FromTS
          in: query
          schema:
            type: string
          description: Retrieve statistics later than this timestamp
        - name: IdentityID
          in: query
          schema:
            type: integer
          description: ""
        - name: SourceID2
          in: query
          schema:
            type: integer
          description: ""
        - name: SourceIDs
          in: query
          schema:
            type: array
            items:
              type: integer
          description: ""
        - name: ToTS
          in: query
          schema:
            type: string
          description: Retrieve statistics before or equal to this timestamp
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activitycountersResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/aggregategraphstatistics:
    get:
      tags:
        - Statistics
      summary: Combined metrics for multiple campaigns.
      description: Aggregated campaign statistics grouped over intervals.
      operationId: get_v3_aggregategraphstatistics
      parameters:
        - name: CampaignAggregateID
          in: query
          schema:
            type: string
          description: Only show statistics for this aggregattion
        - name: Range
          in: query
          schema:
            type: string
          description: The period of the aggregates (24 hours or 7 days)
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregategraphstatisticsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apikey:
    get:
      tags:
        - Settings
      summary: Manage credentials for API and SMTP access.
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: get_v3_apikey
      parameters:
        - name: APIKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which APIKey equals the specified value.
        - name: ConfirmKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
        - name: CustomStatus
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which CustomStatus equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsActive equals the specified value.
        - name: IsMaster
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsMaster equals the specified value.
        - name: KeyType
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which KeyType equals the specified value.
        - name: Name
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which Name equals the specified value.
        - name: User
          in: query
          schema:
            type: integer
          description: User for which to show API keys.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Settings
      summary: Manage credentials for API and SMTP access.
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: post_v3_apikey
      parameters:
        - name: APIKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which APIKey equals the specified value.
        - name: ConfirmKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
        - name: CustomStatus
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which CustomStatus equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsActive equals the specified value.
        - name: IsMaster
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsMaster equals the specified value.
        - name: KeyType
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which KeyType equals the specified value.
        - name: Name
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which Name equals the specified value.
        - name: User
          in: query
          schema:
            type: integer
          description: User for which to show API keys.
      responses:
        "201":
          description: apikey created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Settings
      summary: Manage credentials for API and SMTP access.
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: put_v3_apikey
      parameters:
        - name: APIKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which APIKey equals the specified value.
        - name: ConfirmKey
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
        - name: CustomStatus
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which CustomStatus equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsActive equals the specified value.
        - name: IsMaster
          in: query
          schema:
            type: boolean
          description: Only retrieve apikey resources for which IsMaster equals the specified value.
        - name: KeyType
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which KeyType equals the specified value.
        - name: Name
          in: query
          schema:
            type: string
          description: Only retrieve apikey resources for which Name equals the specified value.
        - name: User
          in: query
          schema:
            type: integer
          description: User for which to show API keys.
      responses:
        "200":
          description: apikey updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apikey/{apikey_ID}":
    get:
      tags:
        - Settings
      summary: Get a specific apikey by ID
      description: Retrieve a single apikey resource by its ID
      operationId: get_v3_apikey_id
      parameters:
        - name: apikey_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apikeyaccess:
    get:
      tags:
        - Settings
      summary: API key access permissions for users.
      description: Access rights description on API keys for subaccounts/users.
      operationId: get_v3_apikeyaccess
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve apikeyaccess resources for which APIKey ID equals the specified value.
        - name: Email
          in: query
          schema:
            type: string
          description: ""
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only show APIKeyAccess resources for which IsActive equals the specified value.
        - name: RealUser
          in: query
          schema:
            type: integer
          description: Only retrieve apikeyaccess resources for which RealUser ID equals the specified value.
        - name: SubAccount
          in: query
          schema:
            type: integer
          description: Only retrieve apikeyaccess resources for which SubAccount ID equals the specified value.
        - name: Token
          in: query
          schema:
            type: string
          description: Only show APIKeyAccess resources for which Token equals the specified value.
        - name: User
          in: query
          schema:
            type: integer
          description: Only retrieve apikeyaccess resources for which User ID equals the specified value.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyaccessResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apikeyaccess/{apikeyaccess_ID}":
    get:
      tags:
        - Settings
      summary: Get a specific apikeyaccess by ID
      description: Retrieve a single apikeyaccess resource by its ID
      operationId: get_v3_apikeyaccess_id
      parameters:
        - name: apikeyaccess_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyaccessResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apikeyaccessgrantor:
    get:
      tags:
        - Settings
      summary: API key access management between users and subaccounts
      description: API key access information that enables management of access rights between users and subaccounts. Provides a read-only view of API keys available for granting access to users.
      operationId: get_v3_apikeyaccessgrantor
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: ""
        - name: Name
          in: query
          schema:
            type: string
          description: Filter by name (exact match) or company name for master keys.
        - name: RealUserID
          in: query
          schema:
            type: integer
          description: ""
        - name: SubAccountID
          in: query
          schema:
            type: integer
          description: ""
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyaccessgrantorResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apikeyaccessgrantor/{apikeyaccessgrantor_ID}":
    get:
      tags:
        - Settings
      summary: Get a specific apikeyaccessgrantor by ID
      description: Retrieve a single apikeyaccessgrantor resource by its ID
      operationId: get_v3_apikeyaccessgrantor_id
      parameters:
        - name: apikeyaccessgrantor_ID
          in: path
          schema:
            type: string
          description: Unique identifier for this access grantor record.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeyaccessgrantorResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apikeytotals:
    get:
      tags:
        - Legacy
        - Settings
      summary: Lifetime statistics for API key usage.
      description: "Global counts for an API Key, since its creation."
      operationId: get_v3_apikeytotals
      parameters:
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeytotalsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apikeytotals/{apikeytotals_ID}":
    get:
      tags:
        - Legacy
        - Settings
      summary: Get a specific apikeytotals by ID
      description: Retrieve a single apikeytotals resource by its ID
      operationId: get_v3_apikeytotals_id
      parameters:
        - name: apikeytotals_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apikeytotalsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apitoken:
    get:
      tags:
        - Settings
      summary: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      description: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      operationId: get_v3_apitoken
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve APIToken resources for which APIKey equals the specified value.
        - name: CatchedIp
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve APIToken resources for which IsActive equals the specified value.
        - name: IsAPIKeyActive
          in: query
          schema:
            type: boolean
          description: Filter on IsActive field for API Key of token.
        - name: Token
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which Token equals the specified value.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apitokenResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    delete:
      tags:
        - Settings
      summary: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      description: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      operationId: delete_v3_apitoken
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve APIToken resources for which APIKey equals the specified value.
        - name: CatchedIp
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve APIToken resources for which IsActive equals the specified value.
        - name: IsAPIKeyActive
          in: query
          schema:
            type: boolean
          description: Filter on IsActive field for API Key of token.
        - name: Token
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        "204":
          description: apitoken deleted successfully
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Settings
      summary: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      description: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      operationId: post_v3_apitoken
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve APIToken resources for which APIKey equals the specified value.
        - name: CatchedIp
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve APIToken resources for which IsActive equals the specified value.
        - name: IsAPIKeyActive
          in: query
          schema:
            type: boolean
          description: Filter on IsActive field for API Key of token.
        - name: Token
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        "201":
          description: apitoken created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apitokenResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Settings
      summary: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      description: "Access token for API, used to give access to an API Key in conjunction with our IFrame API."
      operationId: put_v3_apitoken
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve APIToken resources for which APIKey equals the specified value.
        - name: CatchedIp
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
        - name: IsActive
          in: query
          schema:
            type: boolean
          description: Only retrieve APIToken resources for which IsActive equals the specified value.
        - name: IsAPIKeyActive
          in: query
          schema:
            type: boolean
          description: Filter on IsActive field for API Key of token.
        - name: Token
          in: query
          schema:
            type: string
          description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        "200":
          description: apitoken updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apitokenResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apitoken/{apitoken_ID}":
    get:
      tags:
        - Settings
      summary: Get a specific apitoken by ID
      description: Retrieve a single apitoken resource by its ID
      operationId: get_v3_apitoken_id
      parameters:
        - name: apitoken_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apitokenResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/apppreferences:
    get:
      tags:
        - Settings
      summary: Key-value settings storage for API configurations
      description: Application preferences that store key-value settings associated with API keys. These preferences allow for persistent configuration storage for Mailjet app.
      operationId: get_v3_apppreferences
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: ""
        - name: Key
          in: query
          schema:
            type: string
          description: Filter by preference key name (supports comma-separated list of keys).
        - name: KeyCI
          in: query
          schema:
            type: string
          description: The query is case insensitive.
        - name: KeyLike
          in: query
          schema:
            type: string
          description: The query is case sensitive and matches the search query anywhere within the data.
        - name: KeyLikeCI
          in: query
          schema:
            type: string
          description: The query is case insensitive and matches the search query anywhere within the data.
        - name: KeyLLike
          in: query
          schema:
            type: string
          description: The query is case sensitive and matches the search query with the begining of the data.
        - name: KeyLLikeCI
          in: query
          schema:
            type: string
          description: The query is case insensitive and matches the search query with the begining of the data.
        - name: KeyRLike
          in: query
          schema:
            type: string
          description: The query is case sensitive and matches the search query with the end of the data.
        - name: KeyRLikeCI
          in: query
          schema:
            type: string
          description: The query is case insensitive and matches the search query with the end of the data.
        - name: ShowAllApikeys
          in: query
          schema:
            type: boolean
          description: "When set to true, allows master keys to view preferences for all API keys they own."
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apppreferencesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/apppreferences/{apppreferences_ID}":
    get:
      tags:
        - Settings
      summary: Get a specific apppreferences by ID
      description: Retrieve a single apppreferences resource by its ID
      operationId: get_v3_apppreferences_id
      parameters:
        - name: apppreferences_ID
          in: path
          schema:
            type: string
          description: Unique identifier for this preference.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apppreferencesResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/axtesting:
    get:
      tags:
        - Campaigns
      summary: Email campaign version testing tool.
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: get_v3_axtesting
      parameters:
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: "Filter by Deleteted property's values"
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: "Filter by Starred property's values"
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list filter
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/axtestingResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    delete:
      tags:
        - Campaigns
      summary: Email campaign version testing tool.
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: delete_v3_axtesting
      parameters:
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: "Filter by Deleteted property's values"
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: "Filter by Starred property's values"
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list filter
      responses:
        "204":
          description: axtesting deleted successfully
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Campaigns
      summary: Email campaign version testing tool.
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: post_v3_axtesting
      parameters:
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: "Filter by Deleteted property's values"
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: "Filter by Starred property's values"
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list filter
      responses:
        "201":
          description: axtesting created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/axtestingResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Campaigns
      summary: Email campaign version testing tool.
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: put_v3_axtesting
      parameters:
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: "Filter by Deleteted property's values"
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: "Filter by Starred property's values"
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only show AX testing objects for this contact list filter
      responses:
        "200":
          description: axtesting updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/axtestingResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/axtesting/{axtesting_ID}":
    get:
      tags:
        - Campaigns
      summary: Get a specific axtesting by ID
      description: Retrieve a single axtesting resource by its ID
      operationId: get_v3_axtesting_id
      parameters:
        - name: axtesting_ID
          in: path
          schema:
            type: string
          description: Unique identifier for this A/B test.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/axtestingResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/batchjob:
    get:
      tags:
        - Contacts
        - Messages
      summary: Background processing tasks for large operations.
      description: "Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations."
      operationId: get_v3_batchjob
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
        - name: Data
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which Data ID equals the specified value.
        - name: JobType
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which JobType equals the specified value.
        - name: MaxJobEnd
          in: query
          schema:
            type: string
          description: Maximum value for JobEnd Timestamp.
        - name: MaxJobStart
          in: query
          schema:
            type: string
          description: Maximum value for JobStart Timestamp.
        - name: MaxRequestAt
          in: query
          schema:
            type: string
          description: Maximum value for MaxRequestAt Timestamp.
        - name: Method
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Method equals the specified value.
        - name: MinJobEnd
          in: query
          schema:
            type: string
          description: Minimum value for JobEnd Timestamp.
        - name: MinJobStart
          in: query
          schema:
            type: string
          description: Minimum value for JobStart Timestamp.
        - name: MinRequestAt
          in: query
          schema:
            type: string
          description: Minimum value for MaxRequestAt Timestamp.
        - name: RefID
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which RefID equals the specified value.
        - name: Status
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Status equals the specified value.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchjobResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Contacts
        - Messages
      summary: Background processing tasks for large operations.
      description: "Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations."
      operationId: post_v3_batchjob
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
        - name: Data
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which Data ID equals the specified value.
        - name: JobType
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which JobType equals the specified value.
        - name: MaxJobEnd
          in: query
          schema:
            type: string
          description: Maximum value for JobEnd Timestamp.
        - name: MaxJobStart
          in: query
          schema:
            type: string
          description: Maximum value for JobStart Timestamp.
        - name: MaxRequestAt
          in: query
          schema:
            type: string
          description: Maximum value for MaxRequestAt Timestamp.
        - name: Method
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Method equals the specified value.
        - name: MinJobEnd
          in: query
          schema:
            type: string
          description: Minimum value for JobEnd Timestamp.
        - name: MinJobStart
          in: query
          schema:
            type: string
          description: Minimum value for JobStart Timestamp.
        - name: MinRequestAt
          in: query
          schema:
            type: string
          description: Minimum value for MaxRequestAt Timestamp.
        - name: RefID
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which RefID equals the specified value.
        - name: Status
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Status equals the specified value.
      responses:
        "201":
          description: batchjob created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchjobResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Contacts
        - Messages
      summary: Background processing tasks for large operations.
      description: "Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations."
      operationId: put_v3_batchjob
      parameters:
        - name: APIKey
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
        - name: Data
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which Data ID equals the specified value.
        - name: JobType
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which JobType equals the specified value.
        - name: MaxJobEnd
          in: query
          schema:
            type: string
          description: Maximum value for JobEnd Timestamp.
        - name: MaxJobStart
          in: query
          schema:
            type: string
          description: Maximum value for JobStart Timestamp.
        - name: MaxRequestAt
          in: query
          schema:
            type: string
          description: Maximum value for MaxRequestAt Timestamp.
        - name: Method
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Method equals the specified value.
        - name: MinJobEnd
          in: query
          schema:
            type: string
          description: Minimum value for JobEnd Timestamp.
        - name: MinJobStart
          in: query
          schema:
            type: string
          description: Minimum value for JobStart Timestamp.
        - name: MinRequestAt
          in: query
          schema:
            type: string
          description: Minimum value for MaxRequestAt Timestamp.
        - name: RefID
          in: query
          schema:
            type: integer
          description: Only retrieve batchjob resources for which RefID equals the specified value.
        - name: Status
          in: query
          schema:
            type: string
          description: Only retrieve batchjob resources for which Status equals the specified value.
      responses:
        "200":
          description: batchjob updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchjobResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/batchjob/{batchjob_ID}":
    get:
      tags:
        - Contacts
        - Messages
      summary: Get a specific batchjob by ID
      description: Retrieve a single batchjob resource by its ID
      operationId: get_v3_batchjob_id
      parameters:
        - name: batchjob_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchjobResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/bouncestatistics:
    get:
      tags:
        - Message Events
        - Statistics
      summary: Email delivery failure statistics.
      description: Statistics on the bounces generated by emails sent on a given API Key.
      operationId: get_v3_bouncestatistics
      parameters:
        - name: CampaignID
          in: query
          schema:
            type: integer
          description: Filter bounces on this campaign (ID).
        - name: CampaignStatus
          in: query
          schema:
            type: string
          description: Filter on campaign status.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Filter bounces on this contact list (ID).
        - name: ContactsListID
          in: query
          schema:
            type: integer
          description: ""
        - name: CustomCampaign
          in: query
          schema:
            type: string
          description: Filter bounces on this custom campaign value.
        - name: EventFromTs
          in: query
          schema:
            type: string
          description: Minimum value for BounceAt.
        - name: EventToTs
          in: query
          schema:
            type: string
          description: Maximum value for BounceAt
        - name: From
          in: query
          schema:
            type: string
          description: Filter results on from address.
        - name: FromDomain
          in: query
          schema:
            type: string
          description: Filter results on from domain.
        - name: FromID
          in: query
          schema:
            type: integer
          description: Unique numerical ID for this object.
        - name: FromTS
          in: query
          schema:
            type: string
          description: Minimum value for campaign SendStartAt timestamp.
        - name: FromType
          in: query
          schema:
            type: string
          description: Type of from address.
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Filter on Campaign IsDeleted.
        - name: IsNewsletterTool
          in: query
          schema:
            type: boolean
          description: Filter on whether Campaign was started by the newsletter tool or not.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Filter on Campaign IsStarred.
        - name: MessageStatus
          in: query
          schema:
            type: string
          description: Filter on message status.
        - name: Period
          in: query
          schema:
            type: string
          description: "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively."
        - name: ToTS
          in: query
          schema:
            type: string
          description: Maximum value for campaign SendStartAt timestamp.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bouncestatisticsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/bouncestatistics/{bouncestatistics_ID}":
    get:
      tags:
        - Message Events
        - Statistics
      summary: Get a specific bouncestatistics by ID
      description: Retrieve a single bouncestatistics resource by its ID
      operationId: get_v3_bouncestatistics_id
      parameters:
        - name: bouncestatistics_ID
          in: path
          schema:
            type: string
          description: ID of the Message that led to this bounce.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bouncestatisticsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/campaign:
    get:
      tags:
        - Campaigns
      summary: Record of sent email campaigns.
      description: "Historical view of sent emails, both transactional and marketing. Each e-mail going through Mailjet is attached to a Campaign. This object is automatically generated by Mailjet."
      operationId: get_v3_campaign
      parameters:
        - name: CampaignID
          in: query
          schema:
            type: integer
          description: Unique numerical ID for this object.
        - name: CampaignStatus
          in: query
          schema:
            type: string
          description: Only retrieve campaign resources for which Status equals the specified value.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only retrieve campaigns for this contact list.
        - name: ContactsListID
          in: query
          schema:
            type: integer
          description: ""
        - name: CustomCampaign
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with this custom campaign value.
        - name: From
          in: query
          schema:
            type: string
          description: Only retrieve campaign resources for which From equals the specified value.
        - name: FromDomain
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with this from domain.
        - name: FromID
          in: query
          schema:
            type: integer
          description: Only retrieve campaigns with this sender ID.
        - name: FromTS
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with SendStartAt after this timestamp.
        - name: FromType
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with FromType equal to specified value.
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Only retrieve campaign resources for which IsDeleted equals the specified value.
        - name: IsNewsletterTool
          in: query
          schema:
            type: boolean
          description: Only retrieve campaigns which were started by the newsletter tool.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Only retrieve campaigns which were marked as starred.
        - name: Period
          in: query
          schema:
            type: string
          description: "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively."
        - name: ToTS
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with SendStartAt timestamp less than the specified value.
        - name: WorkflowID
          in: query
          schema:
            type: integer
          description: ""
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Campaigns
      summary: Record of sent email campaigns.
      description: "Historical view of sent emails, both transactional and marketing. Each e-mail going through Mailjet is attached to a Campaign. This object is automatically generated by Mailjet."
      operationId: put_v3_campaign
      parameters:
        - name: CampaignID
          in: query
          schema:
            type: integer
          description: Unique numerical ID for this object.
        - name: CampaignStatus
          in: query
          schema:
            type: string
          description: Only retrieve campaign resources for which Status equals the specified value.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only retrieve campaigns for this contact list.
        - name: ContactsListID
          in: query
          schema:
            type: integer
          description: ""
        - name: CustomCampaign
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with this custom campaign value.
        - name: From
          in: query
          schema:
            type: string
          description: Only retrieve campaign resources for which From equals the specified value.
        - name: FromDomain
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with this from domain.
        - name: FromID
          in: query
          schema:
            type: integer
          description: Only retrieve campaigns with this sender ID.
        - name: FromTS
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with SendStartAt after this timestamp.
        - name: FromType
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with FromType equal to specified value.
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Only retrieve campaign resources for which IsDeleted equals the specified value.
        - name: IsNewsletterTool
          in: query
          schema:
            type: boolean
          description: Only retrieve campaigns which were started by the newsletter tool.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Only retrieve campaigns which were marked as starred.
        - name: Period
          in: query
          schema:
            type: string
          description: "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively."
        - name: ToTS
          in: query
          schema:
            type: string
          description: Only retrieve campaigns with SendStartAt timestamp less than the specified value.
        - name: WorkflowID
          in: query
          schema:
            type: integer
          description: ""
      responses:
        "200":
          description: campaign updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/campaign/{campaign_ID}":
    get:
      tags:
        - Campaigns
      summary: Get a specific campaign by ID
      description: Retrieve a single campaign resource by its ID
      operationId: get_v3_campaign_id
      parameters:
        - name: campaign_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object.
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/campaignaggregate:
    get:
      tags:
        - Campaigns
      summary: Custom groupings of email campaigns.
      description: User defined campaign aggregates
      operationId: get_v3_campaignaggregate
      parameters:
        - name: ContactFilter
          in: query
          schema:
            type: integer
          description: Only show aggregates for this segment
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show aggregates for this contact list
        - name: Sender
          in: query
          schema:
            type: integer
          description: Only show aggregates for this sender
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignaggregateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    delete:
      tags:
        - Campaigns
      summary: Custom groupings of email campaigns.
      description: User defined campaign aggregates
      operationId: delete_v3_campaignaggregate
      parameters:
        - name: ContactFilter
          in: query
          schema:
            type: integer
          description: Only show aggregates for this segment
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show aggregates for this contact list
        - name: Sender
          in: query
          schema:
            type: integer
          description: Only show aggregates for this sender
      responses:
        "204":
          description: campaignaggregate deleted successfully
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Campaigns
      summary: Custom groupings of email campaigns.
      description: User defined campaign aggregates
      operationId: post_v3_campaignaggregate
      parameters:
        - name: ContactFilter
          in: query
          schema:
            type: integer
          description: Only show aggregates for this segment
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show aggregates for this contact list
        - name: Sender
          in: query
          schema:
            type: integer
          description: Only show aggregates for this sender
      responses:
        "201":
          description: campaignaggregate created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignaggregateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Campaigns
      summary: Custom groupings of email campaigns.
      description: User defined campaign aggregates
      operationId: put_v3_campaignaggregate
      parameters:
        - name: ContactFilter
          in: query
          schema:
            type: integer
          description: Only show aggregates for this segment
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only show aggregates for this contact list
        - name: Sender
          in: query
          schema:
            type: integer
          description: Only show aggregates for this sender
      responses:
        "200":
          description: campaignaggregate updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignaggregateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/campaignaggregate/{campaignaggregate_ID}":
    get:
      tags:
        - Campaigns
      summary: Get a specific campaignaggregate by ID
      description: Retrieve a single campaignaggregate resource by its ID
      operationId: get_v3_campaignaggregate_id
      parameters:
        - name: campaignaggregate_ID
          in: path
          schema:
            type: string
          description: Unique ID of the object
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaignaggregateResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/campaigndraft:
    get:
      tags:
        - Campaigns
      summary: Email campaign creation and management.
      description: CampaignDraft data. Newsletter and CampaignDraft objects are differentiated by the EditMode values.
      operationId: get_v3_campaigndraft
      parameters:
        - name: AXTesting
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which AXTesting equals the specified value.
        - name: Campaign
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which Campaign equals the specified value.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which ContactsList equals the specified value.
        - name: DeliveredAt
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources delivered after this value.
        - name: EditMode
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources for which EditMode equals the specified value.
        - name: IsArchived
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsArchived equals the specified value.
        - name: IsCampaign
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources which already have a corresponding campaign.
        - name: IsCampaignTemplate
          in: query
          schema:
            type: boolean
          description: ""
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsDeleted equals the specified value.
        - name: IsHandled
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsHandled equals the specified value.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsStarred equals the specified value.
        - name: Modified
          in: query
          schema:
            type: boolean
          description: Only retrieve modified CampaignDraft recources.
        - name: NewsLetterTemplate
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which NewsLetterTemplate equals the specified value.
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources with the specified contact list filter ID
        - name: Status
          in: query
          schema:
            type: string
          description: "Comma-separated list of statuses: only CampaignDraft resources with these statuses are retrieved."
        - name: Subject
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources with this subject.
        - name: Template
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources based on this template.
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaigndraftResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    post:
      tags:
        - Campaigns
      summary: Email campaign creation and management.
      description: CampaignDraft data. Newsletter and CampaignDraft objects are differentiated by the EditMode values.
      operationId: post_v3_campaigndraft
      parameters:
        - name: AXTesting
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which AXTesting equals the specified value.
        - name: Campaign
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which Campaign equals the specified value.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which ContactsList equals the specified value.
        - name: DeliveredAt
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources delivered after this value.
        - name: EditMode
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources for which EditMode equals the specified value.
        - name: IsArchived
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsArchived equals the specified value.
        - name: IsCampaign
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources which already have a corresponding campaign.
        - name: IsCampaignTemplate
          in: query
          schema:
            type: boolean
          description: ""
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsDeleted equals the specified value.
        - name: IsHandled
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsHandled equals the specified value.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsStarred equals the specified value.
        - name: Modified
          in: query
          schema:
            type: boolean
          description: Only retrieve modified CampaignDraft recources.
        - name: NewsLetterTemplate
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which NewsLetterTemplate equals the specified value.
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources with the specified contact list filter ID
        - name: Status
          in: query
          schema:
            type: string
          description: "Comma-separated list of statuses: only CampaignDraft resources with these statuses are retrieved."
        - name: Subject
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources with this subject.
        - name: Template
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources based on this template.
      responses:
        "201":
          description: campaigndraft created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaigndraftResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
    put:
      tags:
        - Campaigns
      summary: Email campaign creation and management.
      description: CampaignDraft data. Newsletter and CampaignDraft objects are differentiated by the EditMode values.
      operationId: put_v3_campaigndraft
      parameters:
        - name: AXTesting
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which AXTesting equals the specified value.
        - name: Campaign
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which Campaign equals the specified value.
        - name: ContactsList
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which ContactsList equals the specified value.
        - name: DeliveredAt
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources delivered after this value.
        - name: EditMode
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources for which EditMode equals the specified value.
        - name: IsArchived
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsArchived equals the specified value.
        - name: IsCampaign
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources which already have a corresponding campaign.
        - name: IsCampaignTemplate
          in: query
          schema:
            type: boolean
          description: ""
        - name: IsDeleted
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsDeleted equals the specified value.
        - name: IsHandled
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsHandled equals the specified value.
        - name: IsStarred
          in: query
          schema:
            type: boolean
          description: Only retrieve CampaignDraft resources for which IsStarred equals the specified value.
        - name: Modified
          in: query
          schema:
            type: boolean
          description: Only retrieve modified CampaignDraft recources.
        - name: NewsLetterTemplate
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources for which NewsLetterTemplate equals the specified value.
        - name: Segmentation
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources with the specified contact list filter ID
        - name: Status
          in: query
          schema:
            type: string
          description: "Comma-separated list of statuses: only CampaignDraft resources with these statuses are retrieved."
        - name: Subject
          in: query
          schema:
            type: string
          description: Only retrieve CampaignDraft resources with this subject.
        - name: Template
          in: query
          schema:
            type: integer
          description: Only retrieve CampaignDraft resources based on this template.
      responses:
        "200":
          description: campaigndraft updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaigndraftResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  "/v3/REST/campaigndraft/{campaigndraft_ID}":
    get:
      tags:
        - Campaigns
      summary: Get a specific campaigndraft by ID
      description: Retrieve a single campaigndraft resource by its ID
      operationId: get_v3_campaigndraft_id
      parameters:
        - name: campaigndraft_ID
          in: path
          schema:
            type: string
          description: Unique numerical ID for this object
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaigndraftResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
      security:
        - basicAuth: []
  /v3/REST/campaigngraphstatistics:
    get:
      tags:
        - Campaigns
        - Legacy
        - Statistics
      summary: Time-based performance data for campaigns.
      description: API Campaign statistics grouped over intervals
      operationId: get_v3_campaigngraphstatistics
      parameters:
        - name: Click
          in: query
          schema:
            type: boolean
          description: When  != 0 returns stats in ClickedCount
        - name: IDS
          in: query
          schema:
            type: string
          description: Retrieve statistics only for the specified IDs
        - name: Open
          in: query
          schema:
            type: boolean
          description: When  != 0 returns stats in OpenedCount
        - name: Range
          in: query
          schema:
            type: string
          description: 24h or 7d. Period = 15 mins for 24h and 30 mins for 7d
        - name: Spam
          in: query
          schema:
            type: boolean
          description: When  != 0 returns stats in SpamCount
        - name: Unsub
          in: query
          schema:
            type: boolean
          description: When  != 0 returns stats in UnsubCount
        - name: countOnly
          in: query
          schema:
            type: integer
          description: "Set the value of this query parameter to `1` to retrieve the overall number of objects returned by this request for your API Key. No list of results will be returned - the objects will simply be counted. Default value is `0`"
        - name: Limit
          in: query
          schema:
            type: integer
          description: Limit the response to a select number of returned objects.
        - name: Offset
          in: query
          schema:
            type: integer
          description: "Retrieve a list of objects starting from a certain offset. Combine this query parameter with `Limit` to retrieve a specific section of the list of objects."
        - name: Sort
          in: query
          schema:
            type: string
          description: "Specify a property name for this query parameter to sort the objects in `Data`. By default the sorting is ascending. When a property name is postfixed with DESC (i.e. property_name+DESC), the sort order will be descending."
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/campaigngraphstatisticsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
[...]
