openapi: 3.0.3
info:
  title: Mailjet API
  description: >-
    A complete collection of all publicly available endpoints and methods for
    the Mailjet API
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.mailjet.com
    description: US Mailjet
  - url: https://api.eu.mailjet.com
    description: EU Mailjet
paths:
  /v3.1/send:
    post:
      tags:
        - Email API
        - Send Email
      summary: Send API v3.1
      description: "Send a message via Send API v3.1. Send API v3.1 is built mainly for reliability, providing very detailed information in case of sending errors. This results in a lower sending limit, however - Send API v3.1 allows you to send up to 50 messages in a single API call, as opposed to v3, where the limit is 100 messages per call.\r\n\r\nAdditionally, Send API v3.1 includes a Sandbox mode. When enabled, the API will perform all the required validations and return success or error messages, but the message will not be sent."
      operationId: sendApiV31
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Messages:
                  type: array
                  items:
                    type: object
                    properties:
                      Attachments:
                        type: array
                        items:
                          type: object
                          properties:
                            Base64Content:
                              type: string
                              example: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                            ContentType:
                              type: string
                              example: text/plain
                            Filename:
                              type: string
                              example: test.txt
                        example:
                          - Base64Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                            ContentType: text/plain
                            Filename: test.txt
                      Bcc:
                        type: array
                        items:
                          type: object
                          properties:
                            Email:
                              type: string
                              example: passenger3@mailjet.com
                            Name:
                              type: string
                              example: Passenger 3
                        example:
                          - Email: passenger3@mailjet.com
                            Name: Passenger 3
                      Cc:
                        type: array
                        items:
                          type: object
                          properties:
                            Email:
                              type: string
                              example: passenger2@mailjet.com
                            Name:
                              type: string
                              example: Passenger 2
                        example:
                          - Email: passenger2@mailjet.com
                            Name: Passenger 2
                      CustomCampaign:
                        type: string
                        example: SendAPI_campaign
                      CustomID:
                        type: string
                        example: CustomValue
                      DeduplicateCampaign:
                        type: boolean
                        example: true
                      EventPayload:
                        type: string
                        example: Eticket,1234,row,15,seat,B
                      From:
                        type: object
                        properties:
                          Email:
                            type: string
                            example: pilot@mailjet.com
                          Name:
                            type: string
                            example: Your Mailjet Pilot
                      HTMLPart:
                        type: string
                        example: >-
                          <h3>Dear passenger 1, welcome to <a
                          href="https://www.mailjet.com/">Mailjet!</a></h3><br
                          />May the delivery force be with you!
                      Headers:
                        type: string
                        example: object
                      InlinedAttachments:
                        type: array
                        items:
                          type: object
                          properties:
                            Base64Content:
                              type: string
                              example: >-
                                R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                            ContentID:
                              type: string
                              example: logo
                            ContentType:
                              type: string
                              example: image/gif
                            Filename:
                              type: string
                              example: logo.gif
                        example:
                          - Base64Content: >-
                              R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                            ContentID: logo
                            ContentType: image/gif
                            Filename: logo.gif
                      MonitoringCategory:
                        type: string
                        example: Category1
                      Priority:
                        type: number
                        example: 2
                      ReplyTo:
                        type: object
                        properties:
                          Email:
                            type: string
                            example: copilot@mailjet.com
                          Name:
                            type: string
                            example: Your Mailjet Co-pilot
                      Sender:
                        type: object
                        properties:
                          Email:
                            type: string
                            example: copilot@mailjet.com
                          Name:
                            type: string
                            example: Your Mailjet Co-pilot
                      Subject:
                        type: string
                        example: Your email flight plan!
                      TemplateErrorDeliver:
                        type: boolean
                        example: true
                      TemplateErrorReporting:
                        type: object
                        properties:
                          Email:
                            type: string
                            example: errors@mailjet.com
                          Name:
                            type: string
                            example: Error Email
                      TemplateID:
                        type: string
                        example: '12345'
                      TemplateLanguage:
                        type: boolean
                        example: false
                      TextPart:
                        type: string
                        example: >-
                          Dear passenger, welcome to Mailjet! May the delivery
                          force be with you!
                      To:
                        type: array
                        items:
                          type: object
                          properties:
                            Email:
                              type: string
                              example: passenger@mailjet.com
                            Name:
                              type: string
                              example: Passenger 1
                        example:
                          - Email: passenger@mailjet.com
                            Name: Passenger 1
                      TrackClicks:
                        type: string
                        example: account_default
                      TrackOpens:
                        type: string
                        example: account_default
                      URLTags:
                        type: string
                        example: >-
                          utm_source=newsletter&utm_medium=email&utm_campaign=sale1
                      Variables:
                        type: string
                        example: object
                  example:
                    - Attachments:
                        - Base64Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                          ContentType: text/plain
                          Filename: test.txt
                      Bcc:
                        - Email: passenger3@mailjet.com
                          Name: Passenger 3
                      Cc:
                        - Email: passenger2@mailjet.com
                          Name: Passenger 2
                      CustomCampaign: SendAPI_campaign
                      CustomID: CustomValue
                      DeduplicateCampaign: true
                      EventPayload: Eticket,1234,row,15,seat,B
                      From:
                        Email: pilot@mailjet.com
                        Name: Your Mailjet Pilot
                      HTMLPart: >-
                        <h3>Dear passenger 1, welcome to <a
                        href="https://www.mailjet.com/">Mailjet!</a></h3><br
                        />May the delivery force be with you!
                      Headers: object
                      InlinedAttachments:
                        - Base64Content: >-
                            R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                          ContentID: logo
                          ContentType: image/gif
                          Filename: logo.gif
                      MonitoringCategory: Category1
                      Priority: 2
                      ReplyTo:
                        Email: copilot@mailjet.com
                        Name: Your Mailjet Co-pilot
                      Sender:
                        Email: copilot@mailjet.com
                        Name: Your Mailjet Co-pilot
                      Subject: Your email flight plan!
                      TemplateErrorDeliver: true
                      TemplateErrorReporting:
                        Email: errors@mailjet.com
                        Name: Error Email
                      TemplateID: '12345'
                      TemplateLanguage: false
                      TextPart: >-
                        Dear passenger, welcome to Mailjet! May the delivery
                        force be with you!
                      To:
                        - Email: passenger@mailjet.com
                          Name: Passenger 1
                      TrackClicks: account_default
                      TrackOpens: account_default
                      URLTags: >-
                        utm_source=newsletter&utm_medium=email&utm_campaign=sale1
                      Variables: object
                SandboxMode:
                  type: boolean
                  example: false
            examples:
              Send API v3.1:
                value:
                  Messages:
                    - Attachments:
                        - Base64Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                          ContentType: text/plain
                          Filename: test.txt
                      Bcc:
                        - Email: passenger3@mailjet.com
                          Name: Passenger 3
                      Cc:
                        - Email: passenger2@mailjet.com
                          Name: Passenger 2
                      CustomCampaign: SendAPI_campaign
                      CustomID: CustomValue
                      DeduplicateCampaign: true
                      EventPayload: Eticket,1234,row,15,seat,B
                      From:
                        Email: pilot@mailjet.com
                        Name: Your Mailjet Pilot
                      HTMLPart: >-
                        <h3>Dear passenger 1, welcome to <a
                        href="https://www.mailjet.com/">Mailjet!</a></h3><br
                        />May the delivery force be with you!
                      Headers: object
                      InlinedAttachments:
                        - Base64Content: >-
                            R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                          ContentID: logo
                          ContentType: image/gif
                          Filename: logo.gif
                      MonitoringCategory: Category1
                      Priority: 2
                      ReplyTo:
                        Email: copilot@mailjet.com
                        Name: Your Mailjet Co-pilot
                      Sender:
                        Email: copilot@mailjet.com
                        Name: Your Mailjet Co-pilot
                      Subject: Your email flight plan!
                      TemplateErrorDeliver: true
                      TemplateErrorReporting:
                        Email: errors@mailjet.com
                        Name: Error Email
                      TemplateID: '12345'
                      TemplateLanguage: false
                      TextPart: >-
                        Dear passenger, welcome to Mailjet! May the delivery
                        force be with you!
                      To:
                        - Email: passenger@mailjet.com
                          Name: Passenger 1
                      TrackClicks: account_default
                      TrackOpens: account_default
                      URLTags: >-
                        utm_source=newsletter&utm_medium=email&utm_campaign=sale1
                      Variables: object
                  SandboxMode: false
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/send:
    post:
      tags:
        - Email API
        - Send Email
      summary: Send API v3
      description: >-
        Send a message via Send API v3. Send API v3 is built mainly for speed,
        allowing you to send up to 100 messages in a single API call, as opposed
        to v3.1, where the limit is 50 messages per call. However, it lacks some
        of the more complex functionalities of Send API v3.1 like detailed
        feedback information in case of sending errors.
      operationId: sendApiV3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Messages:
                  type: array
                  items:
                    type: object
                    properties:
                      Attachments:
                        type: array
                        items:
                          type: object
                          properties:
                            Content:
                              type: string
                              example: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                            Content-type:
                              type: string
                              example: text/plain
                            Filename:
                              type: string
                              example: test.txt
                        example:
                          - Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                            Content-type: text/plain
                            Filename: test.txt
                      Bcc:
                        type: string
                        example: Passenger 3 <passenger3@mailjet.com>
                      Cc:
                        type: string
                        example: Passenger 2 <passenger2@mailjet.com>
                      FromEmail:
                        type: string
                        example: pilot@mailjet.com
                      FromName:
                        type: string
                        example: Your Mailjet Pilot
                      Headers:
                        type: string
                        example: object
                      Html-part:
                        type: string
                        example: >-
                          <h3>Dear passenger, welcome to Mailjet!</h3><br />May
                          the delivery force be with you!
                      Inline_attachments:
                        type: array
                        items:
                          type: object
                          properties:
                            Content:
                              type: string
                              example: >-
                                R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                            Content-type:
                              type: string
                              example: image/gif
                            Filename:
                              type: string
                              example: logo.gif
                        example:
                          - Content: >-
                              R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                            Content-type: image/gif
                            Filename: logo.gif
                      Mj-CustomID:
                        type: string
                        example: CustomValue
                      Mj-EventPayload:
                        type: string
                        example: Eticket,1234,row,15,seat,B
                      Mj-MonitoringCategory:
                        type: string
                        example: Category1
                      Mj-TemplateErrorDeliver:
                        type: number
                        example: 0
                      Mj-TemplateErrorReporting:
                        type: string
                        example: reports@example.com
                      Mj-TemplateID:
                        type: number
                        example: 123456
                      Mj-TemplateLanguage:
                        type: boolean
                        example: false
                      Mj-campaign:
                        type: string
                        example: SendAPI_campaign
                      Mj-deduplicatecampaign:
                        type: number
                        example: 1
                      Mj-prio:
                        type: number
                        example: 2
                      Mj-trackopen:
                        type: number
                        example: 0
                      Recipients:
                        type: array
                        items:
                          type: object
                          properties:
                            Email:
                              type: string
                              example: passenger@mailjet.com
                            Name:
                              type: string
                              example: Passenger 1
                            Vars:
                              type: string
                              example: array
                        example:
                          - Email: passenger@mailjet.com
                            Name: Passenger 1
                            Vars: array
                      Sender:
                        type: boolean
                        example: true
                      Subject:
                        type: string
                        example: Your email flight plan!
                      Text-part:
                        type: string
                        example: >-
                          Dear passenger, welcome to Mailjet! May the delivery
                          force be with you!
                      To:
                        type: string
                        example: Passenger 1 <passenger@mailjet.com>
                      Vars:
                        type: string
                        example: object
                  example:
                    - Attachments:
                        - Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                          Content-type: text/plain
                          Filename: test.txt
                      Bcc: Passenger 3 <passenger3@mailjet.com>
                      Cc: Passenger 2 <passenger2@mailjet.com>
                      FromEmail: pilot@mailjet.com
                      FromName: Your Mailjet Pilot
                      Headers: object
                      Html-part: >-
                        <h3>Dear passenger, welcome to Mailjet!</h3><br />May
                        the delivery force be with you!
                      Inline_attachments:
                        - Content: >-
                            R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                          Content-type: image/gif
                          Filename: logo.gif
                      Mj-CustomID: CustomValue
                      Mj-EventPayload: Eticket,1234,row,15,seat,B
                      Mj-MonitoringCategory: Category1
                      Mj-TemplateErrorDeliver: 0
                      Mj-TemplateErrorReporting: reports@example.com
                      Mj-TemplateID: 123456
                      Mj-TemplateLanguage: false
                      Mj-campaign: SendAPI_campaign
                      Mj-deduplicatecampaign: 1
                      Mj-prio: 2
                      Mj-trackopen: 0
                      Recipients:
                        - Email: passenger@mailjet.com
                          Name: Passenger 1
                          Vars: array
                      Sender: true
                      Subject: Your email flight plan!
                      Text-part: >-
                        Dear passenger, welcome to Mailjet! May the delivery
                        force be with you!
                      To: Passenger 1 <passenger@mailjet.com>
                      Vars: object
            examples:
              Send API v3:
                value:
                  Messages:
                    - Attachments:
                        - Content: VGhpcyBpcyB5b3VyIGF0dGFjaGVkIGZpbGUhISEK
                          Content-type: text/plain
                          Filename: test.txt
                      Bcc: Passenger 3 <passenger3@mailjet.com>
                      Cc: Passenger 2 <passenger2@mailjet.com>
                      FromEmail: pilot@mailjet.com
                      FromName: Your Mailjet Pilot
                      Headers: object
                      Html-part: >-
                        <h3>Dear passenger, welcome to Mailjet!</h3><br />May
                        the delivery force be with you!
                      Inline_attachments:
                        - Content: >-
                            R0lGODlhEAAQAOYAAP////748v39/Pvq1vr6+lJSVeqlK/zqyv7+/unKjJ+emv78+fb29pucnfrlwvTCi9ra2vTCa6urrWdoaurr6/Pz8uHh4vn49PO7QqGfmumaN+2uS1ZWWfr27uyuLnBxd/z8+0pLTvHAWvjar/zr2Z6cl+jal+2kKmhqcEJETvHQbPb07lBRVPv6+cjJycXFxn1+f//+/f337nF0efO/Mf306NfW0fjHSJOTk/TKlfTp0Prlx/XNj83HuPfEL+/v8PbJgueXJOzp4MG8qUNES9fQqN3d3vTJa/vq1f317P769f/8+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjY5ODYxMzYzMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjY5ODYxMzczMkJCMTFFMDkzQkFFMkFENzVGN0JGRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNjk4NjEzNDMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNjk4NjEzNTMyQkIxMUUwOTNCQUUyQUQ3NUY3QkZGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAAALAAAAAAQABAAAAdUgACCg4SFhoeIiYRGLhaKhA0TMDgSLxAUiEIZHAUsIUQpKAo9Og6FNh8zJUNFJioYQIgJRzc+NBEkiAcnBh4iO4o8QRsjj0gaOY+CDwPKzs/Q0YSBADs=
                          Content-type: image/gif
                          Filename: logo.gif
                      Mj-CustomID: CustomValue
                      Mj-EventPayload: Eticket,1234,row,15,seat,B
                      Mj-MonitoringCategory: Category1
                      Mj-TemplateErrorDeliver: 0
                      Mj-TemplateErrorReporting: reports@example.com
                      Mj-TemplateID: 123456
                      Mj-TemplateLanguage: false
                      Mj-campaign: SendAPI_campaign
                      Mj-deduplicatecampaign: 1
                      Mj-prio: 2
                      Mj-trackopen: 0
                      Recipients:
                        - Email: passenger@mailjet.com
                          Name: Passenger 1
                          Vars: array
                      Sender: true
                      Subject: Your email flight plan!
                      Text-part: >-
                        Dear passenger, welcome to Mailjet! May the delivery
                        force be with you!
                      To: Passenger 1 <passenger@mailjet.com>
                      Vars: object
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/message:
    get:
      tags:
        - Email API
        - Messages
      summary: Retrieve All Messages
      description: >-
        Get a list of messages with specific information on the type of content,
        tracking, sending and delivery.
      operationId: retrieveAllMessages
      parameters:
        - name: Campaign
          in: query
          schema:
            type: string
            example: '{{CampaignID}}'
          description: Retrieves only messages sent as part of the specified Campaign ID.
        - name: Contact
          in: query
          schema:
            type: string
            example: '{{ContactID}}'
          description: Retrieves only messages sent to the specified Contact ID.
        - name: CustomID
          in: query
          schema:
            type: string
            example: '{{CustomID}}'
          description: Retrieves only messages tagged with the specified `CustomID`.
        - name: Destination
          in: query
          schema:
            type: string
            example: '{{DomainID}}'
          description: >-
            Retrieves only messages sent to the specified Destination ID (ID for
            a specific domain name).
        - name: FromTS
          in: query
          schema:
            type: string
            example: '2018-01-01T00:00:00'
          description: Retrieves only messages sent after the specified timestamp.
        - name: MessageState
          in: query
          schema:
            type: string
            example: '{{MessageStateID}}'
          description: >-
            Retrieves only non-delivered messages with the respective State ID.
            The message state ID explains why a message was not delivered
            successfully to the recipient:


            - `1` = user unknown (recipient)

            - `2` = mailbox inactive (recipient)

            - `3` = quota exceeded (recipient)

            - `4` = invalid domain (domain)

            - `5` = no mail host (domain)

            - `6` = relay/access denied (domain)

            - `7` = sender blocked (spam)

            - `8` = content blocked (spam)

            - `9` = policy issue (spam)

            - `10` = system issue (system)

            - `11` = protocol issue (system)

            - `12` = connection issue (system)

            - `13` = greylisted (domain)

            - `14` = preblocked (Mailjet)

            - `15` = duplicate in campaign (Mailjet)

            - `16` = spam preblocked (Mailjet)

            - `17` = bad or empty template (content)

            - `18` = error in template language (content)

            - `19` = typofix (domain)

            - `20` = blacklisted (recipient)

            - `21` = spam reporter (recipient)
        - name: MessageStatus
          in: query
          schema:
            type: string
            example: '2'
          description: |
            Retrieves only messages with the specified status:

            - `0` (Processed)
            - `1` (Queued)
            - `2` (Sent)
            - `3` (Opened)
            - `4` (Clicked)
            - `5` (Bounce)
            - `6` (Spam)
            - `7` (Unsub)
            - `8` (Blocked)
            - `9` (SoftBounce)
            - `10` (HardBounce)
            - `11` (Deferred)
        - name: PlanSubscription
          in: query
          schema:
            type: string
            example: '{{SubscriptionID}}'
          description: Retrieves only messages with the specified PlanSubscription ID.
        - name: SenderID
          in: query
          schema:
            type: string
            example: '{{SenderID}}'
          description: >-
            Retrieves only messages sent using a sender address with the
            specified ID.
        - name: ShowContactAlt
          in: query
          schema:
            type: string
            example: 'true'
          description: >-
            When true, the recipient's email address will be displayed in the
            message object under `ContactAlt`.
        - name: ShowSubject
          in: query
          schema:
            type: string
            example: 'true'
          description: >-
            When true, the subject of the message will be displayed under
            `Subject`.
        - name: ToTS
          in: query
          schema:
            type: string
            example: '2018-01-01T00:00:00'
          description: Retrieves only messages sent before the specified timestamp.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name+DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/message/{message_ID}:
    get:
      tags:
        - Email API
        - Messages
      summary: Retrieve a Single Message
      description: >-
        Retrieve specific information on the type of content, tracking, sending
        and delivery for a specific processed message.
      operationId: retrieveASingleMessage
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: message_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/messagehistory/{message_ID}:
    get:
      tags:
        - Email API
        - Messages
      summary: Retrieve a List of Events for a Message
      description: >-
        Retrieve the event history (sending, open, click etc.) for a specific
        message.
      operationId: retrieveAListOfEventsForAMessage
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: message_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/messageinformation:
    get:
      tags:
        - Email API
        - Messages
      summary: Retrieve Sending / Size / Spam Info about All Messages
      description: Retrieve sending / size / spam information about all messages.
      operationId: retrieveSendingSizeSpamInfoAboutAllMessages
      parameters:
        - name: CampaignID
          in: query
          schema:
            type: string
            example: '{{CampaignID}}'
          description: >-
            Retrieves information only about messages that are part of this
            campaign.
        - name: ContactsList
          in: query
          schema:
            type: string
            example: '{{ListID}}'
          description: >-
            Retrieves information only about messages that were sent to this
            contact list.
        - name: CustomCampaign
          in: query
          schema:
            type: string
            example: '{{CustomValue}}'
          description: >-
            Retrieves information only about messages that are part of a
            campaign with the specified Custom ID.
        - name: From
          in: query
          schema:
            type: string
            example: '{{FromEmail}}'
          description: >-
            Retrieves information only about messages sent from the specified
            sender email address.
        - name: FromDomain
          in: query
          schema:
            type: string
            example: '{{FromDomain}}'
          description: >-
            Retrieves information only about messages sent from the specified
            sender domain.
        - name: FromID
          in: query
          schema:
            type: string
            example: '{{DomainID}}'
          description: >-
            Retrieves information only about messages sent from the specified
            sender ID.
        - name: FromTS
          in: query
          schema:
            type: string
            example: '2018-01-01T00:00:00'
          description: >-
            Retrieves information only about messages sent after the specified
            timestamp.
        - name: IsDeleted
          in: query
          schema:
            type: string
            example: 'true'
          description: >-
            When true, will retrieve information only for messages that are part
            of deleted campaigns. When false, messages from deleted campaigns
            will be excluded from the response.
        - name: IsNewsletterTool
          in: query
          schema:
            type: string
            example: 'true'
          description: >-
            When true, will retrieve information only for campaigns created with
            the Legacy template builder. When false, campaigns created with the
            Legacy builder will be excluded from the response.
        - name: IsStarred
          in: query
          schema:
            type: string
            example: 'true'
          description: >-
            When true, will retrieve information only for messages that are part
            of starred campaigns. When false, messages from starred campaigns
            will be excluded from the response.
        - name: MessageStatus
          in: query
          schema:
            type: string
            example: '2'
          description: |
            Retrieves information only for messages with the specified status:

            - `0` (Processed)
            - `1` (Queued)
            - `2` (Sent)
            - `3` (Opened)
            - `4` (Clicked)
            - `5` (Bounce)
            - `6` (Spam)
            - `7` (Unsub)
            - `8` (Blocked)
            - `9` (SoftBounce)
            - `10` (HardBounce)
            - `11` (Deferred)
        - name: Period
          in: query
          schema:
            type: string
            example: month
          description: >
            Retrieves onformation only for messages sent between the start of
            the selected period and the current timestamp.


            - `Day` - since the start of the current day

            - `Week` - since the start of the current week

            - `Month` - since the start of the current month

            - `Year` - since the start of the current year
        - name: ToTS
          in: query
          schema:
            type: string
            example: '2018-01-01T00:00:00'
          description: >-
            Retrieves information only for messages sent before the specified
            timestamp.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >-
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/messageinformation/{message_ID}:
    get:
      tags:
        - Email API
        - Messages
      summary: Retrieve Sending / Size / Spam Info about a Single Message
      description: Retrieve sending / size / spam information about a specific message ID.
      operationId: retrieveSendingSizeSpamInfoAboutASingleMessage
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: message_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contact:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Contacts
      description: "Retrieve a list of all contacts. Includes information about contact status and creation / activity timestamps.\r\n\r\n"
      operationId: retrieveAllContacts
      parameters:
        - name: Campaign
          in: query
          schema:
            type: string
            example: '{{CampaignID}}'
          description: Retrieves only contacts targeted by this Campaign ID.
        - name: ContactsList
          in: query
          schema:
            type: string
            example: '{{ListID}}'
          description: Retrieves only contacts that are part of this Contact List ID.
        - name: IsExcludedFromCampaigns
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            When true, will retrieve only contacts that have been added to the
            exclusion list for marketing emails. When false, those contacts will
            be excluded from the response.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >-
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    post:
      tags:
        - Email API
        - Contacts
      summary: Create Contact
      description: "Add a new unique contact to your global contact list and select its exclusion status.\r\n\r\n"
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Email:
                  type: string
                  example: user@example.com
                IsExcludedFromCampaigns:
                  type: boolean
                  example: false
                Name:
                  type: string
                  example: Contact 1
            examples:
              Create Contact:
                value:
                  Email: user@example.com
                  IsExcludedFromCampaigns: false
                  Name: Contact 1
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contact/{contact_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve a Single Contact
      description: "Retrieve a specific contact. Includes information about contact status and creation / activity timestamps.\r\n\r\n"
      operationId: retrieveASingleContact
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    put:
      tags:
        - Email API
        - Contacts
      summary: Update Contact
      description: "Update the user-given name and exclusion status of a specific contact.\r\n\r\n"
      operationId: updateContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IsExcludedFromCampaigns:
                  type: boolean
                  example: false
                Name:
                  type: string
                  example: Updated Name
            examples:
              Update Contact:
                value:
                  IsExcludedFromCampaigns: false
                  Name: Updated Name
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: contact_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contact/{contact_ID}/getcontactslists:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Lists a Contact is Part of
      description: "Retrieve all contact lists for a specific contact. You will receive information on the status of the contact for each list. Information about lists deleted within the last 60 days will be returned as well, since those are soft-deleted and can be reinstated.\r\n\r\n"
      operationId: retrieveAllListsAContactIsPartOf
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: contact_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contact/{contact_ID}/managecontactslists:
    post:
      tags:
        - Email API
        - Contacts
      summary: Manage the Lists a Contact is Part of
      description: "Manage the presence and subscription status of a contact for multiple contact lists. Select the contact lists, as well as the desired action to be performed on each one - add, remove or unsub. The contact should already be present in the global contact list.\r\n\r\n"
      operationId: manageTheListsAContactIsPartOf
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ContactsLists:
                  type: array
                  items:
                    type: object
                    properties:
                      Action:
                        type: string
                        example: addnoforce
                      ListID:
                        type: number
                        example: 123456789
                  example:
                    - Action: addnoforce
                      ListID: 123456789
                    - Action: addforce
                      ListID: 987654321
            examples:
              Manage the Lists a Contact is Part of:
                value:
                  ContactsLists:
                    - Action: addnoforce
                      ListID: 123456789
                    - Action: addforce
                      ListID: 987654321
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: contact_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contact/managemanycontacts:
    post:
      tags:
        - Email API
        - Contacts
      summary: Manage the Lists for Multiple Contacts
      description: "Manage multiple contacts by adding, removing or unsubscribing them from multiple contact lists. Separate actions are set for each list and implemented for all contacts listed.\r\n\r\nOnce you submit the POST request, it will return a JobID, which you can use to verify the success of the POST request, as well as see what kind of errors came up.\r\n\r\n"
      operationId: manageTheListsForMultipleContacts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      Email:
                        type: string
                        example: email@example.com
                      IsExcludedFromCampaigns:
                        type: boolean
                        example: false
                      Name:
                        type: string
                        example: contact_name
                      Properties:
                        type: object
                        properties:
                          property1:
                            type: string
                            example: value1
                          property2:
                            type: string
                            example: value2
                  example:
                    - Email: email@example.com
                      IsExcludedFromCampaigns: false
                      Name: contact_name
                      Properties:
                        property1: value1
                        property2: value2
                ContactsLists:
                  type: array
                  items:
                    type: object
                    properties:
                      Action:
                        type: string
                        example: addforce
                      ListID:
                        type: number
                        example: 123456789
                  example:
                    - Action: addforce
                      ListID: 123456789
            examples:
              Manage the Lists for Multiple Contacts:
                value:
                  Contacts:
                    - Email: email@example.com
                      IsExcludedFromCampaigns: false
                      Name: contact_name
                      Properties:
                        property1: value1
                        property2: value2
                  ContactsLists:
                    - Action: addforce
                      ListID: 123456789
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contact/managemanycontacts/{Job_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve an Upload Request for Multiple Contacts
      description: "Use the JobID generated after a POST /contact/managemanycontacts request to check its success, as well as any errors that might have occurred.\r\n\r\n"
      operationId: retrieveAnUploadRequestForMultipleContacts
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: Job_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactmetadata:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Contact Property Objects
      description: "Retrieve a list of contact properties and their general settings - name and data type.\r\n\r\n"
      operationId: retrieveAllContactPropertyObjects
      parameters:
        - name: DataType
          in: query
          schema:
            type: string
            example: str
          description: |
            Retrieves only properties with the respective data type:

            - `str` - string
            - `int` - integer
            - `float` - float / number
            - `bool` - boolean
            - `datetime` - datetime (Unix Timestamp or RFC 3339)
        - name: Namespace
          in: query
          schema:
            type: string
            example: static
          description: >
            Retrieves only properties with the respective namespace:


            - `static` - Can keep only 1 value. Each change to the value of the
            property for a contact overwrites the previously selected value. The
            values are saved in a `contactdata` object.

            - `historic` - Each change to the value of the property creates a
            record in a new `contacthistorydata` object, saving the property
            value and a timestamp of when it was submitted.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >-
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name+DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    post:
      tags:
        - Email API
        - Contacts
      summary: Create a Contact Property Object
      description: "Create a new contact property. Select its name and data type, then use it to assign property values for contacts of your choice (with /contactdata).\r\n\r\n"
      operationId: createAContactPropertyObject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Datatype:
                  type: string
                  example: str
                Name:
                  type: string
                  example: first_name
            examples:
              Create a Contact Property Object:
                value:
                  Datatype: str
                  Name: first_name
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contactmetadata/{contactmetadata_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve a Single Contact Property Object
      description: "Retrieve information on a specific contact property - its name and data type.\r\n\r\n"
      operationId: retrieveASingleContactPropertyObject
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    put:
      tags:
        - Email API
        - Contacts
      summary: Update a Contact Property Object
      description: "Update the settings of an existing contact property - name and data type. Changing the data type will not affect existing property values, but new values must be entered using the new data type.\r\n\r\n"
      operationId: updateAContactPropertyObject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Datatype:
                  type: string
                  example: int
                Name:
                  type: string
                  example: integer
            examples:
              Update a Contact Property Object:
                value:
                  Datatype: int
                  Name: integer
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    delete:
      tags:
        - Email API
        - Contacts
      summary: Delete a Contact Property Object
      description: "Delete an existing contact property. Once the property is deleted, the values assigned to it for all contacts are also deleted.\r\n\r\n"
      operationId: deleteAContactPropertyObject
      requestBody:
        content:
          text/plain:
            examples:
              Delete a Contact Property Object:
                value: ''
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: contactmetadata_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactdata:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Contact Property Values
      description: "Retrieve a list of contacts with all properties and respective values associated with those contacts.\r\n\r\n"
      operationId: retrieveAllContactPropertyValues
      parameters:
        - name: Campaign
          in: query
          schema:
            type: string
            example: '{{CampaignID}}'
          description: >-
            Retrieves a list of contact property values only for the contacts,
            which received emails from this Campaign ID.
        - name: ContactEmail
          in: query
          schema:
            type: string
            example: '{{email_address}}'
          description: >-
            Rretrieves a list of contact property values only for the contact
            with this email address.
        - name: ContactsList
          in: query
          schema:
            type: string
            example: '{{ListID}}'
          description: >-
            Retrieves a list of contact property values only for the contacts
            that are part of this contact list ID.
        - name: DateFormat
          in: query
          schema:
            type: string
            example: '{{}}'
          description: '""'
        - name: Fields
          in: query
          schema:
            type: string
            example: first_name
          description: >-
            Only retrieves the information from the contact properties with the
            specified names. Empty values will be returned as well. Multiple
            properties can be specified by separating them with commas.
        - name: IsExcludedFromCampaigns
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            When true, will retrieve the list of property values only for
            contacts, which have been exlcuded from campaigns. When false, the
            properties of such contacts will be excluded from the response.
        - name: LastActivityAt
          in: query
          schema:
            type: string
            example: '2018-01-01T00:00:00'
          description: >-
            Retrieves a list of contact property values only for the contacts,
            whose last activity was at the specified time.
        - name: Status
          in: query
          schema:
            type: string
            example: '{{}}'
          description: '""'
        - name: TimeZone
          in: query
          schema:
            type: string
            example: '{{}}'
          description: '""'
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >-
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name+DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    post:
      tags:
        - Email API
        - Contacts
      summary: Create Property Values for a Contact
      description: "Create the extra static data for a contact by using your already created /contactmetadata objects (contact properties) and assigning / updating values to them for the specific ContactID.\r\n\r\n"
      operationId: createPropertyValuesForAContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ContactID:
                  type: number
                  example: 123456
                Data:
                  type: array
                  items:
                    type: object
                    properties:
                      Name:
                        type: string
                        example: Property1
                      value:
                        type: string
                        example: Value1
                  example:
                    - Name: Property1
                      value: Value1
            examples:
              Create Property Values for a Contact:
                value:
                  ContactID: 123456
                  Data:
                    - Name: Property1
                      value: Value1
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contactdata/{contact_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve the Property Values for a Contact
      description: "Retrieve all properties and respective values associated with a specific contact.\r\n\r\n"
      operationId: retrieveThePropertyValuesForAContact
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    put:
      tags:
        - Email API
        - Contacts
      summary: Update Property Values for a Contact
      description: "Update the extra static data for a contact by using your already created /contactmetadata objects (contact properties) and assigning / updating values to them for the specific ContactID.\r\n\r\n"
      operationId: updatePropertyValuesForAContact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Data:
                  type: array
                  items:
                    type: object
                    properties:
                      Name:
                        type: string
                        example: Property1
                      value:
                        type: string
                        example: UpdatedValue
                  example:
                    - Name: Property1
                      value: UpdatedValue
            examples:
              Update Property Values for a Contact:
                value:
                  Data:
                    - Name: Property1
                      value: UpdatedValue
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    delete:
      tags:
        - Email API
        - Contacts
      summary: Delete Property Values for a Contact
      description: "Delete all contact property values relating to a specific contact.\r\n\r\n"
      operationId: deletePropertyValuesForAContact
      requestBody:
        content:
          text/plain:
            examples:
              Delete Property Values for a Contact:
                value: ''
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: contact_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Contact Lists
      description: "Retrieve details for all contact lists - name, subscriber count, creation timestamp, deletion status.\r\n\r\n"
      operationId: retrieveAllContactLists
      parameters:
        - name: Address
          in: query
          schema:
            type: string
            example: '{{address}}'
          description: >-
            Retrieves only the contact list with the specified unique address
            created by Mailjet. This address which can be used only via
            Mailjet's SMTP server to reach all contacts in it. It is displayed
            in the `Address` property of the list. The full email will be
            `{Address}@lists.mailjet.com`.
        - name: ExcludeID
          in: query
          schema:
            type: string
            example: '{{ListID}}'
          description: Excludes the contact list with specified ID from the response.
        - name: IsDeleted
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            When true, will retrieve only deleted lists. When false, will
            retrieve lists that are not deleted.
        - name: Name
          in: query
          schema:
            type: string
            example: '{{list_name}}'
          description: Retrieves only the list with the specified user-selected Name.
        - name: Limit
          in: query
          schema:
            type: string
            example: '1000'
          description: >-
            Limit the response to a select number of returned objects.
            Default=10. Maximum=1000.
        - name: Offset
          in: query
          schema:
            type: string
            example: '0'
          description: >-
            Retrieve a list of objects starting from a certain offset. Combine
            this filter with `Limit` to retrieve a specific section of the list
            of objects.
        - name: countOnly
          in: query
          schema:
            type: string
            example: 'false'
          description: >-
            Set the value of this filter to `1` to retrieve the overall number
            of objects returned by this request for your API key. No list of
            results will be returned - the objects will simply be counted.


            > Note: When you send a request without the `countOnly` filter,
            `Count` and `Total` will only return the number of extracted
            elements and not the overall number.
        - name: Sort
          in: query
          schema:
            type: string
            example: '{{property_name+ASC_or_DESC}}'
          description: >-
            Specify a property name for this filter to sort the objects in
            `Data`. By default the sorting is ascending. When a property name is
            postfixed with DESC (i.e. `property_name+DESC`), the sort order will
            be descending.


            > Note: Both the `Sort` filter and the option to select a descending
            order are not available for every property.
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contactslist/{list_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve a Single Contact List
      description: "Retrieve details for a specific contact list - name, subscriber count, creation timestamp, deletion status.\r\n\r\n"
      operationId: retrieveASingleContactList
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    put:
      tags:
        - Email API
        - Contacts
      summary: Update a Contact List
      description: "Update a specific contact list by changing its name and / or deletion status. Using PUT you can delete lists, as well as reinstate previously deleted ones.\r\n\r\n"
      operationId: updateAContactList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IsDeleted:
                  type: boolean
                  example: true
                Name:
                  type: string
                  example: UpdatedList
            examples:
              Update a Contact List:
                value:
                  IsDeleted: true
                  Name: UpdatedList
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    delete:
      tags:
        - Email API
        - Contacts
      summary: Delete a Contact List
      description: >-
        Delete a contact list. The ContactsList object will continue to exist
        with Deleted status for 30 days, and can be reinstated by changing the
        value of IsDeleted to false via PUT /contactslist/{list_ID}.
      operationId: deleteAContactList
      requestBody:
        content:
          text/plain:
            examples:
              Delete a Contact List:
                value: ''
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist/:
    post:
      tags:
        - Email API
        - Contacts
      summary: Create a Contact List
      description: "Create a new contact list.\r\n\r\n"
      operationId: createAContactList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IsDeleted:
                  type: boolean
                  example: false
                Name:
                  type: string
                  example: NewList
            examples:
              Create a Contact List:
                value:
                  IsDeleted: false
                  Name: NewList
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/contactslist/{list_ID}/importlist:
    post:
      tags:
        - Email API
        - Contacts
      summary: Import a Contact List into Another List
      description: "Add, unsubscribe or remove the contacts present in a list to / from another list. The list ID specified in the body of the payload is the source, while ID in the path specifies the destination list.\r\n\r\n"
      operationId: importAContactListIntoAnotherList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Action:
                  type: string
                  example: duplicate-override
                ListID:
                  type: number
                  example: 123456
            examples:
              Import a Contact List into Another List:
                value:
                  Action: duplicate-override
                  ListID: 123456
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist/{list_ID}/importlist/{job_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: View the Import Status of a List into Another List
      description: "Use the JobID generated after a POST /contactslist/{list_id}/importlist request to check its progress, success, as well as any errors that might have occurred.\r\n\r\n"
      operationId: viewTheImportStatusOfAListIntoAnotherList
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
      - name: job_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist/{list_ID}/managecontact:
    post:
      tags:
        - Email API
        - Contacts
      summary: Manage a Contact's Subscription to a List
      description: "Manage the presence and subscription status of a contact to a specific contact list. The API will internally create the new contact if it does not exist, as well as add or update the name and properties.\r\n\r\n"
      operationId: manageAContactSSubscriptionToAList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Action:
                  type: string
                  example: addnoforce
                Email:
                  type: string
                  example: mrsmith@mailjet.com
                Name:
                  type: string
                  example: MrSmith
                Properties:
                  type: object
                  properties:
                    property1:
                      type: string
                      example: value
                    propertyN:
                      type: string
                      example: valueN
            examples:
              Manage a Contact's Subscription to a List:
                value:
                  Action: addnoforce
                  Email: mrsmith@mailjet.com
                  Name: MrSmith
                  Properties:
                    property1: value
                    propertyN: valueN
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist/{list_ID}/managemanycontacts:
    post:
      tags:
        - Email API
        - Contacts
      summary: Manage the Sub Status of Multiple Contacts to a List
      description: "Manage multiple contacts by adding, removing or unsubscribing them from a specific contact list. Once you submit the POST request, it will return a JobID, which you can use to verify the success of the POST request, as well as see what kind of errors came up.\r\n\r\n"
      operationId: manageTheSubStatusOfMultipleContactsToAList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Action:
                  type: string
                  example: addnoforce
                Contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      Email:
                        type: string
                        example: jimsmith@example.com
                      Name:
                        type: string
                        example: Jim
                      Properties:
                        type: object
                        properties:
                          Property1:
                            type: string
                            example: value
                          Property2:
                            type: string
                            example: value2
                  example:
                    - Email: jimsmith@example.com
                      Name: Jim
                      Properties:
                        Property1: value
                        Property2: value2
                    - Email: janetdoe@example.com
                      Name: Janet
                      Properties:
                        Property1: value
                        Property2: value2
            examples:
              Manage the Sub Status of Multiple Contacts to a List:
                value:
                  Action: addnoforce
                  Contacts:
                    - Email: jimsmith@example.com
                      Name: Jim
                      Properties:
                        Property1: value
                        Property2: value2
                    - Email: janetdoe@example.com
                      Name: Janet
                      Properties:
                        Property1: value
                        Property2: value2
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslist/{list_ID}/managemanycontacts/{job_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: View the Import Status of Multiple Contacts into a List
      description: "Use the JobID generated after a POST /contactslist/{list_id}/managemanycontacts request to check its progress, success, as well as any errors that might have occurred.\r\n\r\n"
      operationId: viewTheImportStatusOfMultipleContactsIntoAList
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: list_ID
        in: path
        required: true
        schema:
          type: string
      - name: job_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/csvimport:
    post:
      tags:
        - Email API
        - Contacts
      summary: Import Contacts via a CSV
      description: "Add, remove or unsubscribe a list of contacts to/from a specific contact list by using a CSV uploaded to the Mailjet Data server. The CSV needs to be uploaded via the /contactslist/{list_id}/CSVData/text:plain endpoint.\r\n\r\n"
      operationId: importContactsViaACsv
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ContactsListID:
                  type: number
                  example: 123456
                DataID:
                  type: number
                  example: 987654321
                Method:
                  type: string
                  example: addnoforce
            examples:
              Import Contacts via a CSV:
                value:
                  ContactsListID: 123456
                  DataID: 987654321
                  Method: addnoforce
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
  /v3/REST/csvimport/{importjob_ID}:
    get:
      tags:
        - Email API
        - Contacts
      summary: View the Status of a CSV Import
      description: "View the settings and status of a contact CSV import job. The CSV needs to be uploaded via the /contactslist/{list_id}/CSVData/text:plain endpoint - only then can you create an import job.\r\n\r\n"
      operationId: viewTheStatusOfACsvImport
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    put:
      tags:
        - Email API
        - Contacts
      summary: Update a CSV Import in Progress
      description: "Update or abort a contact CSV import job in progress.\r\n\r\n"
      operationId: updateACsvImportInProgress
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Status:
                  type: string
                  example: Abort
            examples:
              Update a CSV Import in Progress:
                value:
                  Status: Abort
      responses:
        '200':
          description: ''
      security:
        - basicAuth: []
    parameters:
      - name: importjob_ID
        in: path
        required: true
        schema:
          type: string
  /v3/REST/contactslistsignup:
    get:
      tags:
        - Email API
        - Contacts
      summary: Retrieve All Subscription Requests via a Sub Widget
      description: "Retrieve details about all contact list signup requests via a subscription widget. Provides details on signup and subscription confirmation IPs, timestamp, subscription source etc.\r\n\r\n"
      operationId: retrieveAllSubscriptionRequestsViaASubWidget
      parameters:
        - name: Contact
          in: query
          schema:
            type: string
            example: '{{ContactID}}'
          description: Retrieves only signup requests for a given contact ID.
        - name: ContactsList
          in: query
          schema:
            type: string
            example: '{{ListID}}'
          description: Retrieves only signup requests to a given contact list ID.
        - name: Domain
          in: query
          schema:
            type: string
            example: '{{email_domainname}}'
          description: >-
            Retrieves only signup requests for contacts with the specified
            domain. Required, if the `LocalPart` filter is used as well.
        - name: Email
          in: query
          schema:
            type: string
            example: '{{email_address}}'
          description: Retrieves only signup requests for the specified email address.
        - name: LocalPart
          in: query
          schema:
            type: string
            example: '{{email_localpart}}'
          description: >-
            Retrieves only signup requests for emails with the specified local
            part. If this filter is used, the `Domain` filter is required as
            well.
        - name: MaxConfirmAt
          in: query
          schema:
            type: string
            example: '1514764800'
          description: >-
            Retrieves only signup requests, where the subscription confirmation
            was done earlier than the specified timestamp.
        - name: MaxSignupAt
          in: query
          schema:
            type: string
            example: '1514764800'
          description: >-
            Retrieves only signup requests, where the request was done before
            the specified timestamp.
        - name: MinConfirmAt
          in: query
          schema:
            type: string
            example: '1514764800'
          description: >-
            Retrieves only signup requests, where the subscription confirmation
            was done after the specified timestamp.
        - name: MinSignupAt
          in: query
          schema:
            type: string
            example: '1514764800'
          description: >-
            Retrieves only signup requests, where the request was done after the
            specified timestamp.
        - name: SignupIp
          in: query
          schema:
            type: string
            example: '{{IP_address}}'
          description: >-
            Retrieves only signup requests, which were done from the specified
            IP address.
        - name: Source
          in: query
          schema:
            type: string
            example: widget
          description: >-
            Retrieves only signup requests, which were done from the specified
            source type.
        - name: SourceID
          in: query
          schema:
            type: string
            example: '{{widget_ID}}'
          description: >-
            Retrieves only signup requests done via the respective source ID.
            This would be the ID of the widget used for the request.
        - name: Limit
          in: query
[...]
