openapi: '3.1.0'
info:
  title: Mailjet API
  description: A complete collection of all publicly available endpoints and methods for the Mailjet API
  version: '1.0.0'
servers:
- url: https://api.mailjet.com
  description: US Mailjet
- url: https://api.eu.mailjet.com
  description: EU Mailjet
paths:
  /v3/REST/activitycounters:
    get:
      tags:
      - Statistics
      description: Read-only metrics system tracking user activities and system events as time-series data
      operationId: get_v3_rest_activitycounters
      parameters:
      - name: APIKeyID
        in: query
        schema:
          type: string
        description: null
      - name: CounterType
        in: query
        schema:
          type: string
        description: Counter type to retrieve. (e.g. 'WSL', 'WSH', 'WSD', 'WSM', 'WOL', 'WOH', 'WOD', 'WOM', 'WLL', 'WLH', 'WLD', 'WLM', 'DUL', 'AAL', 'AAM', 'AAD', AUL', 'AUM', 'AUD', 'BCL', 'BOL', 'LVL', 'LVH', 'LVD', 'LVM', 'LCL', 'LCH', 'LCD', 'LCM')
      - name: FromTS
        in: query
        schema:
          type: string
        description: Retrieve statistics later than this timestamp
      - name: IdentityID
        in: query
        schema:
          type: string
        description: null
      - name: SourceID2
        in: query
        schema:
          type: string
        description: null
      - name: SourceIDs
        in: query
        schema:
          type: array
          items:
            type: string
        description: null
      - name: ToTS
        in: query
        schema:
          type: string
        description: Retrieve statistics before or equal to this timestamp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKeyID:
                          type: integer
                        ContactCount:
                          type: integer
                        ContactCount2:
                          type: integer
                        EventCount:
                          type: integer
                        EventCount2:
                          type: integer
                        SourceID:
                          type: integer
                        SourceID2:
                          type: integer
                        Timeslice:
                          type: string
                      title: activitycounters
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: activitycounters not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/aggregategraphstatistics:
    get:
      tags:
      - Statistics
      description: Aggregated campaign statistics grouped over intervals.
      operationId: get_v3_rest_aggregategraphstatistics
      parameters:
      - name: CampaignAggregateID
        in: query
        schema:
          type: string
        description: Only show statistics for this aggregattion
      - name: Range
        in: query
        schema:
          type: string
        description: The period of the aggregates (24 hours or 7 days)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        BlockedCount:
                          type: number
                        BlockedStdDev:
                          type: number
                        BouncedCount:
                          type: number
                        BouncedStdDev:
                          type: number
                        CampaignAggregateID:
                          type: string
                        ClickedCount:
                          type: number
                        ClickedStdDev:
                          type: number
                        OpenedCount:
                          type: number
                        OpenedStdDev:
                          type: number
                        RefTimestamp:
                          type: string
                        SentCount:
                          type: number
                        SentStdDev:
                          type: number
                        SpamComplaintCount:
                          type: number
                        SpamcomplaintStdDev:
                          type: number
                        UnsubscribedCount:
                          type: number
                        UnsubscribedStdDev:
                          type: number
                      title: aggregategraphstatistics
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: aggregategraphstatistics not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apikey:
    get:
      tags:
      - Settings
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: get_v3_rest_apikey
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which APIKey equals the specified value.
      - name: ConfirmKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
      - name: CustomStatus
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which CustomStatus equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsActive equals the specified value.
      - name: IsMaster
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsMaster equals the specified value.
      - name: KeyType
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which KeyType equals the specified value.
      - name: Name
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which Name equals the specified value.
      - name: User
        in: query
        schema:
          type: string
        description: User for which to show API keys.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        CreatedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        IsMaster:
                          type: boolean
                        Name:
                          type: string
                        QuarantineValue:
                          type: string
                        RegionID:
                          type: string
                        Runlevel:
                          type: string
                        SecretKey:
                          type: string
                        TrackHost:
                          type: string
                        UserID:
                          type: string
                      required:
                      - APIKey
                      - Name
                      title: apikey
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikey not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    post:
      tags:
      - Settings
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: post_v3_rest_apikey
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which APIKey equals the specified value.
      - name: ConfirmKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
      - name: CustomStatus
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which CustomStatus equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsActive equals the specified value.
      - name: IsMaster
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsMaster equals the specified value.
      - name: KeyType
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which KeyType equals the specified value.
      - name: Name
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which Name equals the specified value.
      - name: User
        in: query
        schema:
          type: string
        description: User for which to show API keys.
      responses:
        '201':
          description: apikey created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items created
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        CreatedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        IsMaster:
                          type: boolean
                        Name:
                          type: string
                        QuarantineValue:
                          type: string
                        RegionID:
                          type: string
                        Runlevel:
                          type: string
                        SecretKey:
                          type: string
                        TrackHost:
                          type: string
                        UserID:
                          type: string
                      required:
                      - APIKey
                      - Name
                      title: apikey
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    put:
      tags:
      - Settings
      description: Manage your Mailjet API Keys. API keys are used as credentials to access the API and SMTP server.
      operationId: put_v3_rest_apikey
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which APIKey equals the specified value.
      - name: ConfirmKey
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which ConfirmKey equals the specified value.
      - name: CustomStatus
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which CustomStatus equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsActive equals the specified value.
      - name: IsMaster
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which IsMaster equals the specified value.
      - name: KeyType
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which KeyType equals the specified value.
      - name: Name
        in: query
        schema:
          type: string
        description: Only retrieve apikey resources for which Name equals the specified value.
      - name: User
        in: query
        schema:
          type: string
        description: User for which to show API keys.
      responses:
        '200':
          description: apikey updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items updated
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        CreatedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        IsMaster:
                          type: boolean
                        Name:
                          type: string
                        QuarantineValue:
                          type: string
                        RegionID:
                          type: string
                        Runlevel:
                          type: string
                        SecretKey:
                          type: string
                        TrackHost:
                          type: string
                        UserID:
                          type: string
                      required:
                      - APIKey
                      - Name
                      title: apikey
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikey not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apikey/{apikey_ID}:
    get:
      tags:
      - Settings
      summary: Get a specific apikey by ID
      description: Retrieve a single apikey resource by its ID
      operationId: get__v3_rest_apikey__apikey_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        CreatedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        IsMaster:
                          type: boolean
                        Name:
                          type: string
                        QuarantineValue:
                          type: string
                        RegionID:
                          type: string
                        Runlevel:
                          type: string
                        SecretKey:
                          type: string
                        TrackHost:
                          type: string
                        UserID:
                          type: string
                      required:
                      - APIKey
                      - Name
                      title: apikey
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikey not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apikey_ID
      in: path
      schema:
        type: string
      description: Unique numerical ID for this object.
      required: true
  /v3/REST/apikeyaccess:
    get:
      tags: []
      description: Access rights description on API keys for subaccounts/users.
      operationId: get_v3_rest_apikeyaccess
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve apikeyaccess resources for which APIKey ID equals the specified value.
      - name: Email
        in: query
        schema:
          type: string
        description: null
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only show APIKeyAccess resources for which IsActive equals the specified value.
      - name: RealUser
        in: query
        schema:
          type: string
        description: Only retrieve apikeyaccess resources for which RealUser ID equals the specified value.
      - name: SubAccount
        in: query
        schema:
          type: string
        description: Only retrieve apikeyaccess resources for which SubAccount ID equals the specified value.
      - name: Token
        in: query
        schema:
          type: string
        description: Only show APIKeyAccess resources for which Token equals the specified value.
      - name: User
        in: query
        schema:
          type: string
        description: Only retrieve apikeyaccess resources for which User ID equals the specified value.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CreatedAt:
                          type: string
                        CustomName:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        LastActivityAt:
                          type: string
                        RealUser:
                          type: string
                        Subaccount:
                          type: string
                        User:
                          type: string
                      required:
                      - APIKey
                      - User
                      title: apikeyaccess
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeyaccess not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apikeyaccess/{apikeyaccess_ID}:
    get:
      tags: []
      summary: Get a specific apikeyaccess by ID
      description: Retrieve a single apikeyaccess resource by its ID
      operationId: get__v3_rest_apikeyaccess__apikeyaccess_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CreatedAt:
                          type: string
                        CustomName:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        LastActivityAt:
                          type: string
                        RealUser:
                          type: string
                        Subaccount:
                          type: string
                        User:
                          type: string
                      required:
                      - APIKey
                      - User
                      title: apikeyaccess
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeyaccess not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apikeyaccess_ID
      in: path
      schema:
        type: string
      description: Unique numerical ID for this object.
      required: true
  /v3/REST/apikeyaccessgrantor:
    get:
      tags:
      - Settings
      description: API key access information that enables management of access rights between users and subaccounts. Provides a read-only view of API keys available for granting access to users.
      operationId: get_v3_rest_apikeyaccessgrantor
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: null
      - name: Name
        in: query
        schema:
          type: string
        description: Filter by name (exact match) or company name for master keys.
      - name: RealUserID
        in: query
        schema:
          type: string
        description: null
      - name: SubAccountID
        in: query
        schema:
          type: string
        description: null
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        IsMaster:
                          type: boolean
                        IsQuarantined:
                          type: boolean
                        Name:
                          type: string
                        Senders:
                          type: string
                      required:
                      - APIKey
                      title: apikeyaccessgrantor
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeyaccessgrantor not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apikeyaccessgrantor/{apikeyaccessgrantor_ID}:
    get:
      tags:
      - Settings
      summary: Get a specific apikeyaccessgrantor by ID
      description: Retrieve a single apikeyaccessgrantor resource by its ID
      operationId: get__v3_rest_apikeyaccessgrantor__apikeyaccessgrantor_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        IsMaster:
                          type: boolean
                        IsQuarantined:
                          type: boolean
                        Name:
                          type: string
                        Senders:
                          type: string
                      required:
                      - APIKey
                      title: apikeyaccessgrantor
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeyaccessgrantor not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apikeyaccessgrantor_ID
      in: path
      schema:
        type: string
      description: Unique identifier for this access grantor record.
      required: true
  /v3/REST/apikeytotals:
    get:
      tags:
      - Legacy
      - Statistics
      description: Global counts for an API Key, since its creation.
      operationId: get_v3_rest_apikeytotals
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        BlockedCount:
                          type: integer
                        BouncedCount:
                          type: integer
                        ClickedCount:
                          type: integer
                        DeferredCount:
                          type: integer
                        DeliveredCount:
                          type: integer
                        HardBouncedCount:
                          type: integer
                        LastActivity:
                          type: integer
                        OpenedCount:
                          type: integer
                        PreQueuedCount:
                          type: integer
                        ProcessedCount:
                          type: integer
                        SoftBouncedCount:
                          type: integer
                        SpamcomplaintCount:
                          type: integer
                        UnsubscribedCount:
                          type: integer
                        WorkFlowExitedCount:
                          type: integer
                      title: apikeytotals
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeytotals not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apikeytotals/{apikeytotals_ID}:
    get:
      tags:
      - Legacy
      - Statistics
      summary: Get a specific apikeytotals by ID
      description: Retrieve a single apikeytotals resource by its ID
      operationId: get__v3_rest_apikeytotals__apikeytotals_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        BlockedCount:
                          type: integer
                        BouncedCount:
                          type: integer
                        ClickedCount:
                          type: integer
                        DeferredCount:
                          type: integer
                        DeliveredCount:
                          type: integer
                        HardBouncedCount:
                          type: integer
                        LastActivity:
                          type: integer
                        OpenedCount:
                          type: integer
                        PreQueuedCount:
                          type: integer
                        ProcessedCount:
                          type: integer
                        SoftBouncedCount:
                          type: integer
                        SpamcomplaintCount:
                          type: integer
                        UnsubscribedCount:
                          type: integer
                        WorkFlowExitedCount:
                          type: integer
                      title: apikeytotals
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apikeytotals not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apikeytotals_ID
      in: path
      schema:
        type: string
      description: Unique numerical ID for this object.
      required: true
  /v3/REST/apitoken:
    get:
      tags: []
      description: Access token for API, used to give access to an API Key in conjunction with our IFrame API.
      operationId: get_v3_rest_apitoken
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which APIKey equals the specified value.
      - name: CatchedIp
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which IsActive equals the specified value.
      - name: IsAPIKeyActive
        in: query
        schema:
          type: string
        description: Filter on IsActive field for API Key of token.
      - name: Token
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CatchedIp:
                          type: string
                        CreatedAt:
                          type: string
                        FirstUsedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        Lang:
                          type: string
                        LastUsedAt:
                          type: string
                        SentData:
                          type: string
                        Timezone:
                          type: string
                        Token:
                          type: string
                        TokenType:
                          type: string
                        ValidFor:
                          type: string
                      required:
                      - AllowedAccess
                      - APIKey
                      - TokenType
                      title: apitoken
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apitoken not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    delete:
      tags: []
      description: Access token for API, used to give access to an API Key in conjunction with our IFrame API.
      operationId: delete_v3_rest_apitoken
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which APIKey equals the specified value.
      - name: CatchedIp
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which IsActive equals the specified value.
      - name: IsAPIKeyActive
        in: query
        schema:
          type: string
        description: Filter on IsActive field for API Key of token.
      - name: Token
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        '204':
          description: apitoken deleted successfully
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apitoken not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    post:
      tags: []
      description: Access token for API, used to give access to an API Key in conjunction with our IFrame API.
      operationId: post_v3_rest_apitoken
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which APIKey equals the specified value.
      - name: CatchedIp
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which IsActive equals the specified value.
      - name: IsAPIKeyActive
        in: query
        schema:
          type: string
        description: Filter on IsActive field for API Key of token.
      - name: Token
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        '201':
          description: apitoken created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items created
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CatchedIp:
                          type: string
                        CreatedAt:
                          type: string
                        FirstUsedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        Lang:
                          type: string
                        LastUsedAt:
                          type: string
                        SentData:
                          type: string
                        Timezone:
                          type: string
                        Token:
                          type: string
                        TokenType:
                          type: string
                        ValidFor:
                          type: string
                      required:
                      - AllowedAccess
                      - APIKey
                      - TokenType
                      title: apitoken
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    put:
      tags: []
      description: Access token for API, used to give access to an API Key in conjunction with our IFrame API.
      operationId: put_v3_rest_apitoken
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which APIKey equals the specified value.
      - name: CatchedIp
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which CatchedIP equals the specified value.
      - name: IsActive
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which IsActive equals the specified value.
      - name: IsAPIKeyActive
        in: query
        schema:
          type: string
        description: Filter on IsActive field for API Key of token.
      - name: Token
        in: query
        schema:
          type: string
        description: Only retrieve APIToken resources for which Token equals the specified value.
      responses:
        '200':
          description: apitoken updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items updated
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CatchedIp:
                          type: string
                        CreatedAt:
                          type: string
                        FirstUsedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        Lang:
                          type: string
                        LastUsedAt:
                          type: string
                        SentData:
                          type: string
                        Timezone:
                          type: string
                        Token:
                          type: string
                        TokenType:
                          type: string
                        ValidFor:
                          type: string
                      required:
                      - AllowedAccess
                      - APIKey
                      - TokenType
                      title: apitoken
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apitoken not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apitoken/{apitoken_ID}:
    get:
      tags: []
      summary: Get a specific apitoken by ID
      description: Retrieve a single apitoken resource by its ID
      operationId: get__v3_rest_apitoken__apitoken_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ACL:
                          type: string
                        APIKey:
                          type: string
                        AllowedAccess:
                          type: string
                        CatchedIp:
                          type: string
                        CreatedAt:
                          type: string
                        FirstUsedAt:
                          type: string
                        ID:
                          type: integer
                        IsActive:
                          type: boolean
                        Lang:
                          type: string
                        LastUsedAt:
                          type: string
                        SentData:
                          type: string
                        Timezone:
                          type: string
                        Token:
                          type: string
                        TokenType:
                          type: string
                        ValidFor:
                          type: string
                      required:
                      - AllowedAccess
                      - APIKey
                      - TokenType
                      title: apitoken
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apitoken not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apitoken_ID
      in: path
      schema:
        type: string
      description: Unique numerical ID for this object.
      required: true
  /v3/REST/apppreferences:
    get:
      tags: []
      description: Application preferences that store key-value settings associated with API keys. These preferences allow for persistent configuration storage for Mailjet app.
      operationId: get_v3_rest_apppreferences
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: null
      - name: Key
        in: query
        schema:
          type: string
        description: Filter by preference key name (supports comma-separated list of keys).
      - name: KeyCI
        in: query
        schema:
          type: string
        description: ' The query is case insensitive.'
      - name: KeyLike
        in: query
        schema:
          type: string
        description: ' The query is case sensitive and matches the search query anywhere within the data.'
      - name: KeyLikeCI
        in: query
        schema:
          type: string
        description: ' The query is case insensitive and matches the search query anywhere within the data.'
      - name: KeyLLike
        in: query
        schema:
          type: string
        description: ' The query is case sensitive and matches the search query with the begining of the data.'
      - name: KeyLLikeCI
        in: query
        schema:
          type: string
        description: ' The query is case insensitive and matches the search query with the begining of the data.'
      - name: KeyRLike
        in: query
        schema:
          type: string
        description: ' The query is case sensitive and matches the search query with the end of the data.'
      - name: KeyRLikeCI
        in: query
        schema:
          type: string
        description: ' The query is case insensitive and matches the search query with the end of the data.'
      - name: ShowAllApikeys
        in: query
        schema:
          type: string
        description: When set to true, allows master keys to view preferences for all API keys they own.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        ID:
                          type: integer
                        PrefKey:
                          type: string
                        PrefValue:
                          type: string
                      required:
                      - APIKey
                      title: apppreferences
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apppreferences not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/apppreferences/{apppreferences_ID}:
    get:
      tags: []
      summary: Get a specific apppreferences by ID
      description: Retrieve a single apppreferences resource by its ID
      operationId: get__v3_rest_apppreferences__apppreferences_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        ID:
                          type: integer
                        PrefKey:
                          type: string
                        PrefValue:
                          type: string
                      required:
                      - APIKey
                      title: apppreferences
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: apppreferences not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: apppreferences_ID
      in: path
      schema:
        type: string
      description: Unique identifier for this preference.
      required: true
  /v3/REST/axtesting:
    get:
      tags: []
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: get_v3_rest_axtesting
      parameters:
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Filter by Deleteted property's values
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Filter by Starred property's values
      - name: Segmentation
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list filter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ContactList:
                          type: string
                        CreatedAt:
                          type: string
                        Deleted:
                          type: boolean
                        ID:
                          type: integer
                        Mode:
                          type: string
                        Name:
                          type: string
                        Percentage:
                          type: number
                        RemainderAt:
                          type: string
                        Segmentation:
                          type: string
                        Starred:
                          type: boolean
                        StartAt:
                          type: string
                        Status:
                          type: string
                        StatusCode:
                          type: string
                        StatusString:
                          type: string
                        WinnerClickRate:
                          type: number
                        WinnerID:
                          type: string
                        WinnerMethod:
                          type: string
                        WinnerOpenRate:
                          type: number
                        WinnerSpamRate:
                          type: number
                        WinnerUnsubRate:
                          type: number
                      title: axtesting
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: axtesting not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    delete:
      tags: []
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: delete_v3_rest_axtesting
      parameters:
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Filter by Deleteted property's values
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Filter by Starred property's values
      - name: Segmentation
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list filter
      responses:
        '204':
          description: axtesting deleted successfully
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: axtesting not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    post:
      tags: []
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: post_v3_rest_axtesting
      parameters:
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Filter by Deleteted property's values
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Filter by Starred property's values
      - name: Segmentation
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list filter
      responses:
        '201':
          description: axtesting created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items created
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ContactList:
                          type: string
                        CreatedAt:
                          type: string
                        Deleted:
                          type: boolean
                        ID:
                          type: integer
                        Mode:
                          type: string
                        Name:
                          type: string
                        Percentage:
                          type: number
                        RemainderAt:
                          type: string
                        Segmentation:
                          type: string
                        Starred:
                          type: boolean
                        StartAt:
                          type: string
                        Status:
                          type: string
                        StatusCode:
                          type: string
                        StatusString:
                          type: string
                        WinnerClickRate:
                          type: number
                        WinnerID:
                          type: string
                        WinnerMethod:
                          type: string
                        WinnerOpenRate:
                          type: number
                        WinnerSpamRate:
                          type: number
                        WinnerUnsubRate:
                          type: number
                      title: axtesting
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    put:
      tags: []
      description: A/B testing system for email campaigns that allows testing multiple newsletter versions to automatically determine the most effective one based on performance metrics.
      operationId: put_v3_rest_axtesting
      parameters:
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Filter by Deleteted property's values
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Filter by Starred property's values
      - name: Segmentation
        in: query
        schema:
          type: string
        description: Only show AX testing objects for this contact list filter
      responses:
        '200':
          description: axtesting updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items updated
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ContactList:
                          type: string
                        CreatedAt:
                          type: string
                        Deleted:
                          type: boolean
                        ID:
                          type: integer
                        Mode:
                          type: string
                        Name:
                          type: string
                        Percentage:
                          type: number
                        RemainderAt:
                          type: string
                        Segmentation:
                          type: string
                        Starred:
                          type: boolean
                        StartAt:
                          type: string
                        Status:
                          type: string
                        StatusCode:
                          type: string
                        StatusString:
                          type: string
                        WinnerClickRate:
                          type: number
                        WinnerID:
                          type: string
                        WinnerMethod:
                          type: string
                        WinnerOpenRate:
                          type: number
                        WinnerSpamRate:
                          type: number
                        WinnerUnsubRate:
                          type: number
                      title: axtesting
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: axtesting not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/axtesting/{axtesting_ID}:
    get:
      tags: []
      summary: Get a specific axtesting by ID
      description: Retrieve a single axtesting resource by its ID
      operationId: get__v3_rest_axtesting__axtesting_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        ContactList:
                          type: string
                        CreatedAt:
                          type: string
                        Deleted:
                          type: boolean
                        ID:
                          type: integer
                        Mode:
                          type: string
                        Name:
                          type: string
                        Percentage:
                          type: number
                        RemainderAt:
                          type: string
                        Segmentation:
                          type: string
                        Starred:
                          type: boolean
                        StartAt:
                          type: string
                        Status:
                          type: string
                        StatusCode:
                          type: string
                        StatusString:
                          type: string
                        WinnerClickRate:
                          type: number
                        WinnerID:
                          type: string
                        WinnerMethod:
                          type: string
                        WinnerOpenRate:
                          type: number
                        WinnerSpamRate:
                          type: number
                        WinnerUnsubRate:
                          type: number
                      title: axtesting
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: axtesting not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: axtesting_ID
      in: path
      schema:
        type: string
      description: Unique identifier for this A/B test.
      required: true
  /v3/REST/batchjob:
    get:
      tags: []
      description: Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations.
      operationId: get_v3_rest_batchjob
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
      - name: Data
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Data ID equals the specified value.
      - name: JobType
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which JobType equals the specified value.
      - name: MaxJobEnd
        in: query
        schema:
          type: string
        description: Maximum value for JobEnd Timestamp.
      - name: MaxJobStart
        in: query
        schema:
          type: string
        description: Maximum value for JobStart Timestamp.
      - name: MaxRequestAt
        in: query
        schema:
          type: string
        description: Maximum value for MaxRequestAt Timestamp.
      - name: Method
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Method equals the specified value.
      - name: MinJobEnd
        in: query
        schema:
          type: string
        description: Minimum value for JobEnd Timestamp.
      - name: MinJobStart
        in: query
        schema:
          type: string
        description: Minimum value for JobStart Timestamp.
      - name: MinRequestAt
        in: query
        schema:
          type: string
        description: Minimum value for MaxRequestAt Timestamp.
      - name: RefID
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which RefID equals the specified value.
      - name: Status
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Status equals the specified value.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AliveAt:
                          type: integer
                        Blocksize:
                          type: string
                        Count:
                          type: string
                        Current:
                          type: string
                        Data:
                          type: string
                        ErrTreshold:
                          type: string
                        Errcount:
                          type: string
                        ID:
                          type: integer
                        JobEnd:
                          type: integer
                        JobStart:
                          type: integer
                        JobType:
                          type: string
                        Method:
                          type: string
                        RefId:
                          type: integer
                        RequestAt:
                          type: integer
                        Status:
                          type: string
                        Throttle:
                          type: string
                      required:
                      - Data
                      - JobType
                      title: batchjob
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: batchjob not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    post:
      tags: []
      description: Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations.
      operationId: post_v3_rest_batchjob
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
      - name: Data
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Data ID equals the specified value.
      - name: JobType
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which JobType equals the specified value.
      - name: MaxJobEnd
        in: query
        schema:
          type: string
        description: Maximum value for JobEnd Timestamp.
      - name: MaxJobStart
        in: query
        schema:
          type: string
        description: Maximum value for JobStart Timestamp.
      - name: MaxRequestAt
        in: query
        schema:
          type: string
        description: Maximum value for MaxRequestAt Timestamp.
      - name: Method
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Method equals the specified value.
      - name: MinJobEnd
        in: query
        schema:
          type: string
        description: Minimum value for JobEnd Timestamp.
      - name: MinJobStart
        in: query
        schema:
          type: string
        description: Minimum value for JobStart Timestamp.
      - name: MinRequestAt
        in: query
        schema:
          type: string
        description: Minimum value for MaxRequestAt Timestamp.
      - name: RefID
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which RefID equals the specified value.
      - name: Status
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Status equals the specified value.
      responses:
        '201':
          description: batchjob created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items created
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AliveAt:
                          type: integer
                        Blocksize:
                          type: string
                        Count:
                          type: string
                        Current:
                          type: string
                        Data:
                          type: string
                        ErrTreshold:
                          type: string
                        Errcount:
                          type: string
                        ID:
                          type: integer
                        JobEnd:
                          type: integer
                        JobStart:
                          type: integer
                        JobType:
                          type: string
                        Method:
                          type: string
                        RefId:
                          type: integer
                        RequestAt:
                          type: integer
                        Status:
                          type: string
                        Throttle:
                          type: string
                      required:
                      - Data
                      - JobType
                      title: batchjob
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    put:
      tags: []
      description: Asynchronous background processing tasks executed on the Mailjet infrastructure. Batch jobs handle operations that require significant processing time such as contact imports, newsletter sending, and bulk operations.
      operationId: put_v3_rest_batchjob
      parameters:
      - name: APIKey
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which APIKey ID equals the specified value.
      - name: Data
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Data ID equals the specified value.
      - name: JobType
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which JobType equals the specified value.
      - name: MaxJobEnd
        in: query
        schema:
          type: string
        description: Maximum value for JobEnd Timestamp.
      - name: MaxJobStart
        in: query
        schema:
          type: string
        description: Maximum value for JobStart Timestamp.
      - name: MaxRequestAt
        in: query
        schema:
          type: string
        description: Maximum value for MaxRequestAt Timestamp.
      - name: Method
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Method equals the specified value.
      - name: MinJobEnd
        in: query
        schema:
          type: string
        description: Minimum value for JobEnd Timestamp.
      - name: MinJobStart
        in: query
        schema:
          type: string
        description: Minimum value for JobStart Timestamp.
      - name: MinRequestAt
        in: query
        schema:
          type: string
        description: Minimum value for MaxRequestAt Timestamp.
      - name: RefID
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which RefID equals the specified value.
      - name: Status
        in: query
        schema:
          type: string
        description: Only retrieve batchjob resources for which Status equals the specified value.
      responses:
        '200':
          description: batchjob updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items updated
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AliveAt:
                          type: integer
                        Blocksize:
                          type: string
                        Count:
                          type: string
                        Current:
                          type: string
                        Data:
                          type: string
                        ErrTreshold:
                          type: string
                        Errcount:
                          type: string
                        ID:
                          type: integer
                        JobEnd:
                          type: integer
                        JobStart:
                          type: integer
                        JobType:
                          type: string
                        Method:
                          type: string
                        RefId:
                          type: integer
                        RequestAt:
                          type: integer
                        Status:
                          type: string
                        Throttle:
                          type: string
                      required:
                      - Data
                      - JobType
                      title: batchjob
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: batchjob not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/batchjob/{batchjob_ID}:
    get:
      tags: []
      summary: Get a specific batchjob by ID
      description: Retrieve a single batchjob resource by its ID
      operationId: get__v3_rest_batchjob__batchjob_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        APIKey:
                          type: string
                        AliveAt:
                          type: integer
                        Blocksize:
                          type: string
                        Count:
                          type: string
                        Current:
                          type: string
                        Data:
                          type: string
                        ErrTreshold:
                          type: string
                        Errcount:
                          type: string
                        ID:
                          type: integer
                        JobEnd:
                          type: integer
                        JobStart:
                          type: integer
                        JobType:
                          type: string
                        Method:
                          type: string
                        RefId:
                          type: integer
                        RequestAt:
                          type: integer
                        Status:
                          type: string
                        Throttle:
                          type: string
                      required:
                      - Data
                      - JobType
                      title: batchjob
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: batchjob not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: batchjob_ID
      in: path
      schema:
        type: string
      description: Unique numerical ID for this object.
      required: true
  /v3/REST/bouncestatistics:
    get:
      tags:
      - Message Events
      - Statistics
      description: Statistics on the bounces generated by emails sent on a given API Key.
      operationId: get_v3_rest_bouncestatistics
      parameters:
      - name: CampaignID
        in: query
        schema:
          type: string
        description: Filter bounces on this campaign (ID).
      - name: CampaignStatus
        in: query
        schema:
          type: string
        description: Filter on campaign status.
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Filter bounces on this contact list (ID).
      - name: ContactsListID
        in: query
        schema:
          type: string
        description: null
      - name: CustomCampaign
        in: query
        schema:
          type: string
        description: Filter bounces on this custom campaign value.
      - name: EventFromTs
        in: query
        schema:
          type: string
        description: =Minimum value for BounceAt.
      - name: EventToTs
        in: query
        schema:
          type: string
        description: Maximum value for BounceAt
      - name: From
        in: query
        schema:
          type: string
        description: Filter results on from address.
      - name: FromDomain
        in: query
        schema:
          type: string
        description: Filter results on from domain.
      - name: FromID
        in: query
        schema:
          type: string
        description: Unique numerical ID for this object.
      - name: FromTS
        in: query
        schema:
          type: string
        description: Minimum value for campaign SendStartAt timestamp.
      - name: FromType
        in: query
        schema:
          type: string
        description: Type of from address.
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Filter on Campaign IsDeleted.
      - name: IsNewsletterTool
        in: query
        schema:
          type: string
        description: Filter on whether Campaign was started by the newsletter tool or not.
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Filter on Campaign IsStarred.
      - name: MessageStatus
        in: query
        schema:
          type: string
        description: Filter on message status.
      - name: Period
        in: query
        schema:
          type: string
        description: Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.
      - name: ToTS
        in: query
        schema:
          type: string
        description: Maximum value for campaign SendStartAt timestamp.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        BouncedAt:
                          type: string
                        Campaign:
                          type: string
                        Contact:
                          type: string
                        ID:
                          type: integer
                        IsBlocked:
                          type: boolean
                        IsStatePermanent:
                          type: boolean
                        State:
                          type: string
                      required:
                      - Campaign
                      - Contact
                      title: bouncestatistics
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: bouncestatistics not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
  /v3/REST/bouncestatistics/{bouncestatistics_ID}:
    get:
      tags:
      - Message Events
      - Statistics
      summary: Get a specific bouncestatistics by ID
      description: Retrieve a single bouncestatistics resource by its ID
      operationId: get__v3_rest_bouncestatistics__bouncestatistics_id_
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        BouncedAt:
                          type: string
                        Campaign:
                          type: string
                        Contact:
                          type: string
                        ID:
                          type: integer
                        IsBlocked:
                          type: boolean
                        IsStatePermanent:
                          type: boolean
                        State:
                          type: string
                      required:
                      - Campaign
                      - Contact
                      title: bouncestatistics
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: bouncestatistics not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    parameters:
    - name: bouncestatistics_ID
      in: path
      schema:
        type: string
      description: ID of the Message that led to this bounce.
      required: true
  /v3/REST/campaign:
    get:
      tags:
      - Campaigns
      description: Historical view of sent emails, both transactional and marketing. Each e-mail going through Mailjet is attached to a Campaign. This object is automatically generated by Mailjet.
      operationId: get_v3_rest_campaign
      parameters:
      - name: CampaignID
        in: query
        schema:
          type: string
        description: Unique numerical ID for this object.
      - name: CampaignStatus
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which Status equals the specified value.
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only retrieve campaigns for this contact list.
      - name: ContactsListID
        in: query
        schema:
          type: string
        description: null
      - name: CustomCampaign
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this custom campaign value.
      - name: From
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which From equals the specified value.
      - name: FromDomain
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this from domain.
      - name: FromID
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this sender ID.
      - name: FromTS
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with SendStartAt after this timestamp.
      - name: FromType
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with FromType equal to specified value.
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which IsDeleted equals the specified value.
      - name: IsNewsletterTool
        in: query
        schema:
          type: string
        description: Only retrieve campaigns which were started by the newsletter tool.
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Only retrieve campaigns which were marked as starred.
      - name: Period
        in: query
        schema:
          type: string
        description: Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.
      - name: ToTS
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with SendStartAt timestamp less than the specified value.
      - name: WorkflowID
        in: query
        schema:
          type: string
        description: null
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items in this response
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        CampaignType:
                          type: string
                        ClickTracked:
                          type: integer
                        CreatedAt:
                          type: string
                        CustomValue:
                          type: string
                        FirstMessageID:
                          type: integer
                        From:
                          type: string
                        FromEmail:
                          type: string
                        FromName:
                          type: string
                        HasHtmlCount:
                          type: integer
                        HasTxtCount:
                          type: integer
                        ID:
                          type: integer
                        IsDeleted:
                          type: boolean
                        IsStarred:
                          type: boolean
                        List:
                          type: string
                        NewsLetterID:
                          type: integer
                        OpenTracked:
                          type: integer
                        Segmentation:
                          type: string
                        SendEndAt:
                          type: string
                        SendStartAt:
                          type: string
                        SpamassScore:
                          type: string
                        Status:
                          type: string
                        Subject:
                          type: string
                        UnsubscribeTrackedCount:
                          type: integer
                        Workflow:
                          type: string
                      required:
                      - FromEmail
                      title: campaign
                  Total:
                    type: integer
                    description: Total number of items available
        '400':
          description: Bad Request - Invalid syntax or parameters
        '401':
          description: Unauthorized - API key is missing or invalid
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: campaign not found
        '429':
          description: Too Many Requests - API rate limit exceeded
        '500':
          description: Internal Server Error
      security:
      - basicAuth: []
    put:
      tags:
      - Campaigns
      description: Historical view of sent emails, both transactional and marketing. Each e-mail going through Mailjet is attached to a Campaign. This object is automatically generated by Mailjet.
      operationId: put_v3_rest_campaign
      parameters:
      - name: CampaignID
        in: query
        schema:
          type: string
        description: Unique numerical ID for this object.
      - name: CampaignStatus
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which Status equals the specified value.
      - name: ContactsList
        in: query
        schema:
          type: string
        description: Only retrieve campaigns for this contact list.
      - name: ContactsListID
        in: query
        schema:
          type: string
        description: null
      - name: CustomCampaign
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this custom campaign value.
      - name: From
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which From equals the specified value.
      - name: FromDomain
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this from domain.
      - name: FromID
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with this sender ID.
      - name: FromTS
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with SendStartAt after this timestamp.
      - name: FromType
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with FromType equal to specified value.
      - name: IsDeleted
        in: query
        schema:
          type: string
        description: Only retrieve campaign resources for which IsDeleted equals the specified value.
      - name: IsNewsletterTool
        in: query
        schema:
          type: string
        description: Only retrieve campaigns which were started by the newsletter tool.
      - name: IsStarred
        in: query
        schema:
          type: string
        description: Only retrieve campaigns which were marked as starred.
      - name: Period
        in: query
        schema:
          type: string
        description: Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.
      - name: ToTS
        in: query
        schema:
          type: string
        description: Only retrieve campaigns with SendStartAt timestamp less than the specified value.
      - name: WorkflowID
        in: query
        schema:
          type: string
        description: null
      responses:
        '200':
          description: campaign updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Count:
                    type: integer
                    description: Number of items updated
                  Data:
                    type: array
                    items:
                      type: object
                      properties:
                        CampaignType:
                          type: string
                        ClickTracked:
                          type: integer
                        CreatedAt:
                          type: string
                        CustomValue:
[...]
